FEP , CHANNEL , and RTU_DATA
---------------

------------

# FEP

FEP dependencies: 

Indic 0             mapping:  1               (create only one record)

Mode   2            mapping:  1               (create only one record)

Hostname  4         mapping:  fepts01         (create only one record)

Name   5            mapping:  Comm_Server_1   (create only one record)

NumPorts 11         mapping:  16              (create only one record)
 
ipdaddress  17      mapping:  192.168.32.16   (create only one record)

In [46]:
import pandas as pd
from datetime import datetime
#libraries

In [47]:

data = {
    'Indic': [1],
    'Mode': [1],
    'Hostname': ['fepts01'],
    'Name': ['Comm_Server_1'],
    'NumPorts': [11],
    'ipdaddress': ['192.168.32.16']
}

FEP = pd.DataFrame(data)

print('Preview \n',FEP)

Preview
    Indic  Mode Hostname           Name  NumPorts     ipdaddress
0      1     1  fepts01  Comm_Server_1        11  192.168.32.16

In [48]:

with open('FEP.DAT', 'w') as file:
    file.write('*\n')
    file.write('\t4\tFEP\t0\t2\t4\t5\t11\t17\n')
    file.write('*\tIndic\tMode\tHostname\tName\tNumPorts\tipaddress\n')

    for index, row in FEP.iterrows():
        file.write(f'\t{row["Indic"]}\t{row["Indic"]}\t{row["Mode"]}\t{row["Hostname"]}\t{row["Name"]}\t{row["NumPorts"]}\t{row["ipdaddress"]}\n')

    file.write("0")

# CHANNEL

dependencies: 
RTAC SCADA DNP IPs Reordered (1).csv   (DF)

RG 12/6 Indic 0          : one to one (DF [ RTAC Number ])

pFEP 1          mapping: Set all to 0   [Build: If not mapped will be manually configured by PE]

Character 13    mapping: Set all to 8

Stop_Bits 14    mapping: Set all to 1

RG 12/6  NoReplyLimit  18 :  Set all to 5

Name  19       [RTAC SCADA DNP IPs Reordered (1).csv] 
RG 12/6 Name 19    : RG 12/6: String of Abreviation + "_" + Panel + "_Channel"


baudrate 23    [COMM.csv] mapping: Comm_Line   . Detailed mapping : 9600

ChannelRespTimeoutMsec 24  [COMM.csv] mapping: Pri_Resp_TO
RG 25/6 ChannelRespTimeoutMsec 24  :  Set All to 5000


PhysicalPort 25    [COMM.csv]  mapping: Comm_Line
RG 25/6 PhysicalPort 25    :  Set All to 20000

RG 25/6 ChannelReqDelay 27 :  Set all to 0


Hostname  30    mapping: 
RG 25/6  Hostname 30  :   one by one according to RTAC SCADA DNP IPs Reordered

RG 25/6  pCHANNEL_GROUP 40 :   one to one (DF [ RTAC Number ])


ChannelConnTimeout 41   [COMM.csv]  mapping:  Pri_Resp_TO
RG 25/6 ChannelConnTimeout 41   :  Set all to 5

_Comm.csv_ Should be in the same folder

In [49]:
rtac_data = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')
rtac_data['Panel'] = rtac_data['Panel'].str.replace('Panel ', '', regex=False)
channel = pd.DataFrame()

#COLUMNS OF CHANNEL 
#channel['Indic'] = range(1, len(comm_data) + 1)
channel['Indic'] = rtac_data['RTAC Number']
channel['pFEP'] = [0] * len(rtac_data)
channel['Character'] = [8] * len(rtac_data)
channel['Stop_Bits'] = [1] * len(rtac_data)
channel['NoReplyLimit'] = [5] * len(rtac_data)

#NAME
channel['Name'] = rtac_data['Abreviation'] + '_' + rtac_data['Panel'] + '_Ch'
#channel['baudrate'] = [9600] * len(comm_data)
#channel['ChannelResTimeoutMsec'] = comm_data['Pri_Resp_TO  ']
channel['ChannelResTimeoutMsec'] = [5000] * len(rtac_data)
#channel['PhysicalPort'] = comm_data['Comm_Line  ']
channel['PhysicalPort'] = [20000] * len(rtac_data)
channel['ChannelReqDelay'] = [0] * len(rtac_data)
channel['Hostname'] = rtac_data['RTAC SCADA IP']
#MODIFICAR HOSTNAME PARA QUE SEA IGUAL QUE INDIC, o un simple incremental de uno a uno
channel['pCHANNEL_GROUP'] = rtac_data['RTAC Number']
#channel['ChannelConnTimeout'] = comm_data['Pri_Resp_TO  ']
channel['ChannelConnTimeout'] = [5] * len(rtac_data)

In [50]:
channel

,Indic,pFEP,Character,Stop_Bits,NoReplyLimit,Name,ChannelResTimeoutMsec,PhysicalPort,ChannelReqDelay,Hostname,pCHANNEL_GROUP,ChannelConnTimeout
0,1,0,8,1,5,AC_#1 - 3530_Ch,5000,20000,0,172.19.8.81,1,5
1,2,0,8,1,5,AL_#1 - 3530_Ch,5000,20000,0,172.19.5.81,2,5
2,3,0,8,1,5,AL_#2 - 3530_Ch,5000,20000,0,172.19.5.82,3,5
3,4,0,8,1,5,WH_#1 - 3530_Ch,5000,20000,0,172.19.9.81,4,5
4,5,0,8,1,5,FA_#1 - 3530_Ch,5000,20000,0,172.19.6.81,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
68,69,0,8,1,5,SA_#1 - 3530_Ch,5000,20000,0,172.21.4.81,69,5
69,70,0,8,1,5,FM_#1 - 3530_Ch,5000,20000,0,172.22.2.81,70,5
70,71,0,8,1,5,LY_#1 - 3530_Ch,5000,20000,0,172.22.3.81,71,5
71,72,0,8,1,5,RS_#1 - 3530_Ch,5000,20000,0,172.27.2.81,72,5
72,73,0,8,1,5,RS_#2 - 3530_Ch,5000,20000,0,172.27.2.82,73,5

# Output : CHANNEL.DAT

SE LE INCORPORA UNA COLUMNA CON VALORES '1' A CONTINUACION DE LA COLUMNA INDICE

In [51]:
#line_number = 1
with open("CHANNEL.dat", 'w') as f:
    f.write('* \n')
    f.write('\t5\tCHANNEL\t0\t1\t13\t14\t18\t19\t24\t25\t27\t30\t40\t41\n')
    f.write('*\tIndic\t1s\tpFEP\tCharacter\tStop_Bits\tNoReplyLimit\tName\tChannelResTimeoutMsec\tPhysicalPort\tChannelReqDelay\tHostname\tpChannel_GROUP\tChannelConnTimeout\n')

    for index, row in channel.iterrows():
        f.write("\t{}\t{}\t{}\t{}\t{}\t{}\t\"{}\"\t{}\t{}\t{}\t{}\t{}\n".format(
                row['Indic'],row['Stop_Bits'], row['pFEP'], row['Character'], row['Stop_Bits'], row['NoReplyLimit'],
                row['Name'],  row['ChannelResTimeoutMsec'], 
                row['PhysicalPort'], row['ChannelReqDelay'], row['Hostname'], row['pCHANNEL_GROUP'], row['ChannelConnTimeout']))
        #line_number += 1
    f.write(" 0")

# RTU_DATA

dependencies:

[DF](<RTAC SCADA DNP IPs Reordered (1).csv>)

Indics           0  [DF]
RG 12/6 : Indics : RTAC NUMBER

  
pCHANNEL_GROUP   2  [DF]
RG 12/6 : pCHANNEL_GROUP : RTAC NUMBER


Protocol         3  [DF] 
RG 12/6 : Protocol : Set to 8


Name             5  [DF]
RG 12/6: String of Abreviation + "_" + Panel + "_RTU"


Address          14 [RTU.csv] column: RTU_Number   Mapping: if == 8, "", else RTU_Number 
RG 12/6: Set to 1

SubType          55 = RG 12/6: Set to 2

RTU.csv should be in the same folder

In [52]:
rtu_data = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')

In [53]:
df = pd.DataFrame()
rtu_data['Panel'] = rtac_data['Panel'].str.replace('Panel ', '', regex=False)

#CHECK INDICS ******************
df['Indics'] = rtu_data['RTAC Number']

df['pCHANNEL_GROUP'] = rtu_data['RTAC Number']
df['Protocol'] = [8] * len(rtu_data)

df['Name'] = rtu_data['Abreviation'] + '_' + rtu_data['Panel'] + '_RTU'
df['Address'] = [1] * len(rtu_data)

df['SubType'] = [2] * len(rtu_data)

In [54]:
df

    Indics  pCHANNEL_GROUP  Protocol              Name  Address  SubType
0        1               1         8  AC_#1 - 3530_RTU        1        2
1        2               2         8  AL_#1 - 3530_RTU        1        2
2        3               3         8  AL_#2 - 3530_RTU        1        2
3        4               4         8  WH_#1 - 3530_RTU        1        2
4        5               5         8  FA_#1 - 3530_RTU        1        2
..     ...             ...       ...               ...      ...      ...
68      69              69         8  SA_#1 - 3530_RTU        1        2
69      70              70         8  FM_#1 - 3530_RTU        1        2
70      71              71         8  LY_#1 - 3530_RTU        1        2
71      72              72         8  RS_#1 - 3530_RTU        1        2
72      73              73         8  RS_#2 - 3530_RTU        1        2

[73 rows x 6 columns]

# OUTPUT : RTU_DATA.DAT

Se incorpora una columna de '1s' siguiente al indice .

In [55]:
with open("RTU_DATA.dat", 'w') as f:
    f.write('* \n')
    f.write('\t6\tRTU_DATA\t0\t2\t3\t5\t14\t55\n')
    f.write('*\tIndics\t1s\tpCHANNEL_GROUP\tProtocol\tName\tAddress\tSubType\n')

    line_number = 1  # Inicializar la variable del número de línea

    for index, row in df.iterrows():
        f.write("\t{}\t{}\t{}\t{}\t\"{}\"\t{}\t{}\n".format(
                row['Indics'],row['Address'], row['pCHANNEL_GROUP'], row['Protocol'], 
                row['Name'], row['Address'], row['SubType']))
        line_number += 1  # Incrementar el número de línea

    f.write(" 0")

__________

# CHANNEL_GROUP

dependencies:

[DF](<RTAC SCADA DNP IPs Reordered (1).csv>)

Indic           0  [DF]
RG 12/6 : Indics : RTAC NUMBER 

12/29 :
MaxAPDU ( 3,3 ): : set to 23

ConnectionType ( 3,8 ) : Set to 1

APDU : ( 3,9 ) : Set to 2


Protocol        4  [DF]
RG 12/6 : Protocol : set to 8

Name            6  [DF]
RG 12/6 : Name : RG 12/6: String of Abreviation + "_" + Panel + "_Ch_Group"

pCHANNEL       8,0  [DF]
RG 12/6 : pCHANNEL : RTAC NUMBER

BackupMonDisable  20  [DF]
RG 12/6 : BackupMonDisable : set to 1


RG 12/29 :
 pAORGroup  23  : set to 1

Type            24   [DF]
RG 12/6 : Type : set to 5

In [56]:
rtac_data = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')
rtac_data['Panel'] = rtac_data['Panel'].str.replace('Panel ', '', regex=False)


channel_group = pd.DataFrame()

#COLUMNS OF CHANNEL_GROUP

channel_group['Indic'] = rtac_data['RTAC Number']

channel_group['MaxAPDU'] = [23] * len(rtac_data)
channel_group['ConnectionType'] = [1] * len(rtac_data)
channel_group['APDU'] = [2] * len(rtac_data)


channel_group['Protocol'] = [8] * len(rtac_data)
channel_group['Name'] = rtac_data['Abreviation'] + '_' + rtac_data['Panel'] + '_ChG'
channel_group['pCHANNEL'] = rtac_data['RTAC Number']
channel_group['BackupMonDisable'] = [1] * len(rtac_data)

channel_group['pAORGroup'] = [1] * len(rtac_data)

channel_group['Type'] = [5] * len(rtac_data)

In [57]:
channel_group

,Indic,MaxAPDU,ConnectionType,APDU,Protocol,Name,pCHANNEL,BackupMonDisable,pAORGroup,Type
0,1,23,1,2,8,AC_#1 - 3530_ChG,1,1,1,5
1,2,23,1,2,8,AL_#1 - 3530_ChG,2,1,1,5
2,3,23,1,2,8,AL_#2 - 3530_ChG,3,1,1,5
3,4,23,1,2,8,WH_#1 - 3530_ChG,4,1,1,5
4,5,23,1,2,8,FA_#1 - 3530_ChG,5,1,1,5
...,...,...,...,...,...,...,...,...,...,...
68,69,23,1,2,8,SA_#1 - 3530_ChG,69,1,1,5
69,70,23,1,2,8,FM_#1 - 3530_ChG,70,1,1,5
70,71,23,1,2,8,LY_#1 - 3530_ChG,71,1,1,5
71,72,23,1,2,8,RS_#1 - 3530_ChG,72,1,1,5
72,73,23,1,2,8,RS_#2 - 3530_ChG,73,1,1,5

Columna siguiente a Indice agregada: 1s. Valores unicamente int 1

In [58]:
with open("CHANNEL_GROUP.dat", 'w') as f:
    f.write('* \n')
    f.write('\t22\tCHANNEL_GROUP\t0\t3,3\t3,8\t3,9\t4\t6\t8,0\t20\t23\t24\n')
    f.write('*\tIndic\t1s\tMaxAPDU\tConnectionType\tAPDU\tProtocol\tName\tpCHANNEL\tBackupMonDisable\tpAORGroup\tType\n')

    #line_number = 1  # Inicializar la variable del número de línea

    for index, row in channel_group.iterrows():
        f.write("\t{}\t{}\t{}\t{}\t{}\t{}\t\"{}\"\t{}\t{}\t{}\t{}\n".format(
                row['Indic'],row['BackupMonDisable'],row['MaxAPDU'],row['ConnectionType'],row['APDU'], row['Protocol'], 
                row['Name'], row['pCHANNEL'], row['BackupMonDisable'],row['pAORGroup'] ,row['Type']))
        #line_number += 1  # Incrementar el número de línea

    f.write(" 0")

__________

# RTU_DEFN

dependencies:

RG 12/6

Indic 0 : one to one

PointType 1,0 : Set to 1

Start 3,0 : Set to 1
RG 3/11: For each RTAC (each RTAC has a unique IP address) search for the smallest "DNP Point"(all_stations_equivalency.csv) of the Point Type == Status and use that number.
If an RTAC has the following DNP Point # (9,10,45,59,70) then set start to 9
   


Count 4,0 : Set to 5

PointType 1,1 : Set to 4

Start 3,1 : Set to 1

Count 4,1 : Set to 5

In [59]:
import pandas as pd

# Cargar los archivos CSV
rtu_data = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')
all_stations_equivalency = pd.read_csv('all_stations_equivalency.csv')
rtu_defn = pd.DataFrame()
rtu_defn['Indics'] = range(1, len(rtu_data) + 1)
rtu_defn['PointType10'] = [1] * len(rtu_data)

In [60]:

rtu_defn['Start30'] = ''
rtu_defn['Count40'] = ''

encontrados = 0
no_encontrados = 0

for index, row in rtu_data.iterrows():
    rtac_scada_ip = row['RTAC SCADA IP']
    
    filtered_stations = all_stations_equivalency[(all_stations_equivalency['IP Address'] == rtac_scada_ip) & 
                                                 (all_stations_equivalency['Type'] == 'STATUS')]
    
    if not filtered_stations.empty:
        valid_dnp_points = filtered_stations['DNP Point'].dropna()
        valid_dnp_points = valid_dnp_points[valid_dnp_points != 0]
        valid_dnp_points = valid_dnp_points[valid_dnp_points != '']
        
        if not valid_dnp_points.empty:
            min_dnp_point = valid_dnp_points.min()
            max_dnp_point = valid_dnp_points.max()
            
            rtu_defn.at[index, 'Start30'] = int(min_dnp_point)
            rtu_defn.at[index, 'Count40'] = int(max_dnp_point) - int(min_dnp_point) + 1
            
            encontrados += 1
        else:
            rtu_defn.at[index, 'Start30'] = ''
            rtu_defn.at[index, 'Count40'] = ''
            no_encontrados += 1
    else:
        rtu_defn.at[index, 'Start30'] = ''
        rtu_defn.at[index, 'Count40'] = ''
        no_encontrados += 1

rtu_defn['Start30'] = rtu_defn['Start30'].replace('', 771771771)
rtu_defn['Start30'] = rtu_defn['Start30'].astype(int)
rtu_defn['Start30'] = rtu_defn['Start30'].replace(771771771,'')

rtu_defn['Count40'] = rtu_defn['Count40'].replace('', 771771771)
rtu_defn['Count40'] = rtu_defn['Count40'].astype(int)
rtu_defn['Count40'] = rtu_defn['Count40'].replace(771771771,'')

print(f"Valores encontrados: {encontrados}")
print(f"Valores no encontrados: {no_encontrados}")

Valores encontrados: 6
Valores no encontrados: 67

In [61]:

rtu_defn['PointType11'] = [4] * len(rtu_data)

In [62]:
rtu_defn['Start31'] = ''
rtu_defn['Count41'] = ''

encontrados_start31 = 0
no_encontrados_start31 = 0
encontrados_count41 = 0
no_encontrados_count41 = 0

for index, row in rtu_data.iterrows():
    rtac_scada_ip = row['RTAC SCADA IP']
    
    filtered_stations = all_stations_equivalency[(all_stations_equivalency['IP Address'] == rtac_scada_ip) & 
                                                 (all_stations_equivalency['Type'] == 'ANALOG')]
    
    if not filtered_stations.empty:
        valid_dnp_points = filtered_stations['DNP Point'].dropna()
        valid_dnp_points = valid_dnp_points[valid_dnp_points != 0]
        valid_dnp_points = valid_dnp_points[valid_dnp_points != '']
        
        if not valid_dnp_points.empty:
            min_dnp_point = valid_dnp_points.min()
            max_dnp_point = valid_dnp_points.max()
            
            rtu_defn.at[index, 'Start31'] = int(min_dnp_point)
            rtu_defn.at[index, 'Count41'] = int(max_dnp_point) - int(min_dnp_point) + 1
            
            encontrados_start31 += 1
            encontrados_count41 += 1
        else:
            rtu_defn.at[index, 'Start31'] = ''
            rtu_defn.at[index, 'Count41'] = ''
            no_encontrados_start31 += 1
            no_encontrados_count41 += 1
    else:
        rtu_defn.at[index, 'Start31'] = ''
        rtu_defn.at[index, 'Count41'] = ''
        no_encontrados_start31 += 1
        no_encontrados_count41 += 1

rtu_defn['Start31'] = rtu_defn['Start31'].replace('', 771771771)
rtu_defn['Start31'] = rtu_defn['Start31'].astype(int)
rtu_defn['Start31'] = rtu_defn['Start31'].replace(771771771,'')

rtu_defn['Count41'] = rtu_defn['Count41'].replace('', 771771771)
rtu_defn['Count41'] = rtu_defn['Count41'].astype(int)
rtu_defn['Count41'] = rtu_defn['Count41'].replace(771771771,'')

print(f"Valores encontrados : {encontrados_start31}")
print(f"Valores no encontrados : {no_encontrados_start31}")
#print(f"Valores encontrados para Count41: {encontrados_count41}")
#print(f"Valores no encontrados para Count41: {no_encontrados_count41}")

Valores encontrados : 6
Valores no encontrados : 67

In [63]:
rtu_defn

    Indics  PointType10 Start30 Count40  PointType11 Start31 Count41
0        1            1                            4
1        2            1                            4
2        3            1                            4
3        4            1                            4
4        5            1                            4
..     ...          ...     ...     ...          ...     ...     ...
68      69            1                            4
69      70            1                            4
70      71            1                            4
71      72            1                            4
72      73            1                            4

[73 rows x 7 columns]

In [64]:
rtu_defn = rtu_defn.astype(str).replace('', '""')

In [65]:
rtu_defn.to_csv("borrarrtudefn.csv", index=False)

In [66]:
with open("RTU_DEFN.dat", 'w') as f:
    f.write('* \n')
    f.write('\t27\tRTU_DEFN\t1,0\t3,0\t4,0\t1,1\t3,1\t4,1\n')
    f.write('*\tIndic\tPointtype(1,0)\tStart(3,0)\tCount(4,0)\tPointType(1,1)\tStart(3,1)\tCount(4,1)\n')

    #line_number = 1  # Inicializar la variable del número de línea

    for index, row in rtu_defn.iterrows():
        f.write("\t{}\t{}\t{}\t{}\t{}\t{}\t{}\n".format(
                row['Indics'], row['PointType10'], row['Start30'], row['Count40'], row['PointType11'], row['Start31'], row['Count41']))

        #line_number += 1  # Incrementar el número de línea

    f.write(" 0")

# SCAN_DATA OBJECT

cargando y tratando los datos en type status

dependencies

status xref

rtac scada


allstation equivalency

In [67]:
import pandas as pd


rtu_data = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')
all_stations_equivalency = pd.read_csv('all_stations_equivalency.csv')
all_stations_equivalency = all_stations_equivalency[all_stations_equivalency['Type'].isin(['STATUS', 'ANALOG'])]

all_stations_equivalency = all_stations_equivalency[all_stations_equivalency['DNP Point'].notna()]
all_stations_equivalency = all_stations_equivalency[all_stations_equivalency['DNP Point'].astype(str) != '']

all_stations_equivalency['DNP Point'] = all_stations_equivalency['DNP Point'].astype(int)

ip_addresses = rtu_data['RTAC SCADA IP'].unique()
scan_data = all_stations_equivalency[all_stations_equivalency['IP Address'].isin(ip_addresses)]

scan_data['Order'] = scan_data['Type'].map({'STATUS': 0, 'ANALOG': 1})

scan_data = scan_data.sort_values(['IP Address', 'Order', 'DNP Point'])

scan_data = scan_data.reset_index(drop=True)

scan_data['SCAN_DATA_Record'] = 0

last_scan_data_record = {}
last_point_type = {}

for index, row in scan_data.iterrows():
    ip_address = row['IP Address']
    point_type = row['Type']
    dnp_point = row['DNP Point']
    if point_type == 'STATUS':
  
        scan_data.at[index, 'SCAN_DATA_Record'] = dnp_point + 1
        last_scan_data_record[ip_address] = scan_data.at[index, 'SCAN_DATA_Record']
    else:
   
        if ip_address not in last_point_type or last_point_type[ip_address] != 'ANALOG':
 
            scan_data.at[index, 'SCAN_DATA_Record'] = last_scan_data_record[ip_address] + 1
        else:
       
            prev_index = index - 1
            prev_dnp_point = scan_data.at[prev_index, 'DNP Point']
            diff = dnp_point - prev_dnp_point
            scan_data.at[index, 'SCAN_DATA_Record'] = last_scan_data_record[ip_address] + diff

        last_scan_data_record[ip_address] = scan_data.at[index, 'SCAN_DATA_Record']

    last_point_type[ip_address] = point_type

scan_data = scan_data.drop('Order', axis=1)

In [68]:
status_xref = pd.read_csv('status_xref.csv')

# Función para buscar el valor en status_xref y obtener la clave correspondiente
def get_destination_key(row):
    search_value = f"{row['Station']},{row['Pnuemonic']}"
    match = status_xref[status_xref['Name_Status_Source  '].str.strip() == search_value.strip()]
    if not match.empty:
        return match['Key'].iloc[0]
    else:
        print(f"No se encontró el valor {search_value} en status_xref")
        return None

# Aplicar la función a cada fila de scan_data para obtener la Destination_key
scan_data['Destination_key'] = scan_data.apply(get_destination_key, axis=1)

# Mostrar el resultado
print("Scan Data con Destination_key:")
print(scan_data.head())

No se encontró el valor ME,LTC1 en status_xref
No se encontró el valor ME,RAV1 en status_xref
No se encontró el valor ME,RBV1 en status_xref
No se encontró el valor ME,RCV1 en status_xref
No se encontró el valor ME,TX1A en status_xref
No se encontró el valor ME,TX1B en status_xref
No se encontró el valor ME,TX1C en status_xref
No se encontró el valor ME,KVA1M en status_xref
No se encontró el valor ME,TX1W en status_xref
No se encontró el valor ME,MV1 en status_xref
No se encontró el valor ME,MV1- en status_xref
No se encontró el valor ME,PF1M en status_xref
No se encontró el valor ME,TX1FRQ en status_xref
No se encontró el valor ME,KWPHR1 en status_xref
No se encontró el valor ME,THST1 en status_xref
No se encontró el valor ME,THST2 en status_xref
No se encontró el valor ME,THST3 en status_xref
No se encontró el valor ME,TXTEMP en status_xref
No se encontró el valor ME,TCTEMP en status_xref
No se encontró el valor ME,TXABT en status_xref
No se encontró el valor ME,1A en status_xref
No se encontró el valor ME,1B en status_xref
No se encontró el valor ME,1C en status_xref
No se encontró el valor ME,1KW en status_xref
No se encontró el valor ME,1PF en status_xref
No se encontró el valor ME,2A en status_xref
No se encontró el valor ME,2B en status_xref
No se encontró el valor ME,2C en status_xref
No se encontró el valor ME,2KW en status_xref
No se encontró el valor ME,2PF en status_xref
No se encontró el valor ME,3A en status_xref
No se encontró el valor ME,3B en status_xref
No se encontró el valor ME,3C en status_xref
No se encontró el valor ME,3KW en status_xref
No se encontró el valor ME,3PF en status_xref
No se encontró el valor ME,4A en status_xref
No se encontró el valor ME,4B en status_xref
No se encontró el valor ME,4C en status_xref
No se encontró el valor ME,4KW en status_xref
No se encontró el valor ME,4PF en status_xref
No se encontró el valor ME,DCV en status_xref
No se encontró el valor DB,T1F1AC en status_xref
No se encontró el valor DB,T1F2AC en status_xref
No se encontró el valor DB,T1NCLO en status_xref
No se encontró el valor DB,T1CPWR en status_xref
No se encontró el valor DB,T1HIAL en status_xref
No se encontró el valor DB,35C101 en status_xref
No se encontró el valor DB,35C102 en status_xref
No se encontró el valor DB,35C103 en status_xref
No se encontró el valor DB,35C106 en status_xref
No se encontró el valor DB,35C109 en status_xref
No se encontró el valor DB,35C110 en status_xref
No se encontró el valor DB,35C111 en status_xref
No se encontró el valor DB,35C118 en status_xref
No se encontró el valor DB,35C119 en status_xref
No se encontró el valor DB,35C120 en status_xref
No se encontró el valor DB,35C123 en status_xref
No se encontró el valor DB,35C125 en status_xref
No se encontró el valor DB,35C127 en status_xref
No se encontró el valor DB,35C128 en status_xref
No se encontró el valor DB,35T1SC en status_xref
No se encontró el valor DB,21T1SC en status_xref
No se encontró el valor DB,25SC1 en status_xref
No se encontró el valor DB,25SC11 en status_xref
No se encontró el valor DB,25SC8 en status_xref
No se encontró el valor DB,25SC9 en status_xref
No se encontró el valor DB,S618_OP en status_xref
No se encontró el valor DB,S618_CL en status_xref
No se encontró el valor DB,S619_OP en status_xref
No se encontró el valor DB,S619_CL en status_xref
No se encontró el valor DB,LTC1 en status_xref
No se encontró el valor DB,RAV1 en status_xref
No se encontró el valor DB,RBV1 en status_xref
No se encontró el valor DB,RCV1 en status_xref
No se encontró el valor DB,TX1A en status_xref
No se encontró el valor DB,TX1B en status_xref
No se encontró el valor DB,TX1C en status_xref
No se encontró el valor DB,KVA1M en status_xref
No se encontró el valor DB,TX1W en status_xref
No se encontró el valor DB,MV1- en status_xref
No se encontró el valor DB,MV1 en status_xref
No se encontró el valor DB,PF1M en status_xref
No se encontró el valor DB,TX1FRQ en status_xref
No se encontró el valor DB,KWPHR1 en status_xref
No se encontró el valor DB,1A en status_xref
No se encontró el valor DB,1B en status_xref
No se encontró el valor DB,1C en status_xref
No se encontró el valor DB,1KW en status_xref
No se encontró el valor DB,1PF en status_xref
No se encontró el valor DB,2A en status_xref
No se encontró el valor DB,2B en status_xref
No se encontró el valor DB,2C en status_xref
No se encontró el valor DB,2KW en status_xref
No se encontró el valor DB,2PF en status_xref
No se encontró el valor DB,3A en status_xref
No se encontró el valor DB,3B en status_xref
No se encontró el valor DB,3C en status_xref
No se encontró el valor DB,3KW en status_xref
No se encontró el valor DB,3PF en status_xref
No se encontró el valor DB,DCV en status_xref
No se encontró el valor DB,T2NCLO en status_xref
No se encontró el valor DB,T2HIAL en status_xref
No se encontró el valor DB,3784LR en status_xref
No se encontró el valor DB,35C201 en status_xref
No se encontró el valor DB,35C202 en status_xref
No se encontró el valor DB,35C203 en status_xref
No se encontró el valor DB,35C205 en status_xref
No se encontró el valor DB,35C206 en status_xref
No se encontró el valor DB,35C209 en status_xref
No se encontró el valor DB,35C210 en status_xref
No se encontró el valor DB,35C211 en status_xref
No se encontró el valor DB,35C218 en status_xref
No se encontró el valor DB,35C219 en status_xref
No se encontró el valor DB,35C220 en status_xref
No se encontró el valor DB,35C222 en status_xref
No se encontró el valor DB,35C223 en status_xref
No se encontró el valor DB,35C225 en status_xref
No se encontró el valor DB,35C228 en status_xref
No se encontró el valor DB,35T2SC en status_xref
No se encontró el valor DB,21T2SC en status_xref
No se encontró el valor DB,3784SC en status_xref
No se encontró el valor DB,LTC2 en status_xref
No se encontró el valor DB,RAV2 en status_xref
No se encontró el valor DB,RBV2 en status_xref
No se encontró el valor DB,RCV2 en status_xref
No se encontró el valor DB,TX2A en status_xref
No se encontró el valor DB,TX2B en status_xref
No se encontró el valor DB,TX2C en status_xref
No se encontró el valor DB,KVA2M en status_xref
No se encontró el valor DB,TX2W en status_xref
No se encontró el valor DB,MV2- en status_xref
No se encontró el valor DB,MV2 en status_xref
No se encontró el valor DB,PF2M en status_xref
No se encontró el valor DB,TX2FRQ en status_xref
No se encontró el valor DB,KWPHR2 en status_xref
No se encontró el valor DB,4A en status_xref
No se encontró el valor DB,4B en status_xref
No se encontró el valor DB,4C en status_xref
No se encontró el valor DB,4KW en status_xref
No se encontró el valor DB,4PF en status_xref
No se encontró el valor DB,5A en status_xref
No se encontró el valor DB,5B en status_xref
No se encontró el valor DB,5C en status_xref
No se encontró el valor DB,5KW en status_xref
No se encontró el valor DB,5PF en status_xref
No se encontró el valor DB,6A en status_xref
No se encontró el valor DB,6B en status_xref
No se encontró el valor DB,6C en status_xref
No se encontró el valor DB,6KW en status_xref
No se encontró el valor DB,6PF en status_xref
No se encontró el valor DB,T3NCLO en status_xref
No se encontró el valor DB,TX3CLO en status_xref
No se encontró el valor DB,T3HIAL en status_xref
No se encontró el valor DB,3785LR en status_xref
No se encontró el valor DB,35C301 en status_xref
No se encontró el valor DB,35C302 en status_xref
No se encontró el valor DB,35C303 en status_xref
No se encontró el valor DB,35C305 en status_xref
No se encontró el valor DB,35C306 en status_xref
No se encontró el valor DB,35C309 en status_xref
No se encontró el valor DB,35C310 en status_xref
No se encontró el valor DB,35C311 en status_xref
No se encontró el valor DB,35C318 en status_xref
No se encontró el valor DB,35C319 en status_xref
No se encontró el valor DB,35C320 en status_xref
No se encontró el valor DB,35C322 en status_xref
No se encontró el valor DB,35C323 en status_xref
No se encontró el valor DB,35C325 en status_xref
No se encontró el valor DB,35C328 en status_xref
No se encontró el valor DB,35T3SC en status_xref
No se encontró el valor DB,21T3SC en status_xref
No se encontró el valor DB,3785SC en status_xref
No se encontró el valor DB,LTC3 en status_xref
No se encontró el valor DB,RAV3 en status_xref
No se encontró el valor DB,RBV3 en status_xref
No se encontró el valor DB,RCV3 en status_xref
No se encontró el valor DB,TX3A en status_xref
No se encontró el valor DB,TX3B en status_xref
No se encontró el valor DB,TX3C en status_xref
No se encontró el valor DB,KVA3M en status_xref
No se encontró el valor DB,TX3W en status_xref
No se encontró el valor DB,MV3 en status_xref
No se encontró el valor DB,MV3- en status_xref
No se encontró el valor DB,PF3M en status_xref
No se encontró el valor DB,TX3FRQ en status_xref
No se encontró el valor DB,KWPHR3 en status_xref
No se encontró el valor DB,T3HST1 en status_xref
No se encontró el valor DB,T3HST2 en status_xref
No se encontró el valor DB,T3HST3 en status_xref
No se encontró el valor DB,TX3TMP en status_xref
No se encontró el valor DB,TC3TMP en status_xref
No se encontró el valor DB,TX3ABT en status_xref
No se encontró el valor DB,7A en status_xref
No se encontró el valor DB,7B en status_xref
No se encontró el valor DB,7C en status_xref
No se encontró el valor DB,7KW en status_xref
No se encontró el valor DB,7PF en status_xref
No se encontró el valor DB,8A en status_xref
No se encontró el valor DB,8B en status_xref
No se encontró el valor DB,8C en status_xref
No se encontró el valor DB,8KW en status_xref
No se encontró el valor DB,8PF en status_xref
No se encontró el valor DB,9A en status_xref
No se encontró el valor DB,9B en status_xref
No se encontró el valor DB,9C en status_xref
No se encontró el valor DB,9KW en status_xref
No se encontró el valor DB,9PF en status_xref
No se encontró el valor OP,W6276 en status_xref
No se encontró el valor OP,6276LP en status_xref
No se encontró el valor OP,6276LG en status_xref
No se encontró el valor OP,6278S en status_xref
No se encontró el valor OP,M6283 en status_xref
No se encontró el valor OP,T1F1AC en status_xref
No se encontró el valor OP,T1F2AC en status_xref
No se encontró el valor OP,TX1NHI en status_xref
No se encontró el valor OP,TX1NLO en status_xref
No se encontró el valor OP,T1NCLO en status_xref
No se encontró el valor OP,T1PR en status_xref
No se encontró el valor OP,T1SP en status_xref
No se encontró el valor OP,TX1LO en status_xref
No se encontró el valor OP,TX1CLO en status_xref
No se encontró el valor OP,LTC1LO en status_xref
No se encontró el valor OP,TC1PWR en status_xref
No se encontró el valor OP,TCP1 en status_xref
No se encontró el valor OP,LTCMT1 en status_xref
No se encontró el valor OP,TCPR1 en status_xref
No se encontró el valor OP,86X1 en status_xref
No se encontró el valor OP,T1FAN1 en status_xref
No se encontró el valor OP,T1FAN2 en status_xref
No se encontró el valor OP,TX1TOT en status_xref
No se encontró el valor OP,TX1HS en status_xref
No se encontró el valor OP,TX1LR en status_xref
No se encontró el valor OP,TX1K1 en status_xref
No se encontró el valor OP,TX1K2 en status_xref
No se encontró el valor OP,TCA1 en status_xref
No se encontró el valor OP,T1HIAL en status_xref
No se encontró el valor OP,2X12 en status_xref
No se encontró el valor OP,2M14 en status_xref
No se encontró el valor OP,35C106 en status_xref
No se encontró el valor OP,35C107 en status_xref
No se encontró el valor OP,MET1CP en status_xref
No se encontró el valor OP,35C109 en status_xref
No se encontró el valor OP,35C110 en status_xref
No se encontró el valor OP,35C111 en status_xref
No se encontró el valor OP,35C123 en status_xref
No se encontró el valor OP,35C124 en status_xref
No se encontró el valor OP,35C125 en status_xref
No se encontró el valor OP,35C128 en status_xref
No se encontró el valor OP,35T2SC en status_xref
No se encontró el valor OP,387SC1 en status_xref
No se encontró el valor OP,501SC1 en status_xref
No se encontró el valor OP,21T1SC en status_xref
No se encontró el valor OP,MET1SC en status_xref
No se encontró el valor OP,25SC1 en status_xref
No se encontró el valor OP,25SC5 en status_xref
No se encontró el valor OP,25SC8 en status_xref
No se encontró el valor OP,24T1SC en status_xref
No se encontró el valor OP,TX1DRD en status_xref
No se encontró el valor OP,86T1 en status_xref
No se encontró el valor OP,86TCM1 en status_xref
No se encontró el valor OP,94TCM1 en status_xref
No se encontró el valor OP,S629_1 en status_xref
No se encontró el valor OP,S635_1 en status_xref
No se encontró el valor OP,LTC1 en status_xref
No se encontró el valor OP,RAV1 en status_xref
No se encontró el valor OP,RBV1 en status_xref
No se encontró el valor OP,RCV1 en status_xref
No se encontró el valor OP,TX1A en status_xref
No se encontró el valor OP,TX1B en status_xref
No se encontró el valor OP,TX1C en status_xref
No se encontró el valor OP,KVA1M en status_xref
No se encontró el valor OP,TX1W en status_xref
No se encontró el valor OP,MV1- en status_xref
No se encontró el valor OP,MV1 en status_xref
No se encontró el valor OP,PF1M en status_xref
No se encontró el valor OP,TX1FRQ en status_xref
No se encontró el valor OP,KWPHR1 en status_xref
No se encontró el valor OP,T1HST1 en status_xref
No se encontró el valor OP,T1HST2 en status_xref
No se encontró el valor OP,T1HST3 en status_xref
No se encontró el valor OP,TX1TMP en status_xref
No se encontró el valor OP,TC1TMP en status_xref
No se encontró el valor OP,TX1ABT en status_xref
No se encontró el valor OP,1A en status_xref
No se encontró el valor OP,1B en status_xref
No se encontró el valor OP,1C en status_xref
No se encontró el valor OP,1KW en status_xref
No se encontró el valor OP,1PF en status_xref
No se encontró el valor OP,2A en status_xref
No se encontró el valor OP,2B en status_xref
No se encontró el valor OP,2C en status_xref
No se encontró el valor OP,2KW en status_xref
No se encontró el valor OP,2PF en status_xref
No se encontró el valor OP,3A en status_xref
No se encontró el valor OP,3B en status_xref
No se encontró el valor OP,3C en status_xref
No se encontró el valor OP,3KW en status_xref
No se encontró el valor OP,3PF en status_xref
No se encontró el valor OP,4A en status_xref
No se encontró el valor OP,4B en status_xref
No se encontró el valor OP,4C en status_xref
No se encontró el valor OP,4KW en status_xref
No se encontró el valor OP,4PF en status_xref
No se encontró el valor OP,DCV en status_xref
No se encontró el valor OP,W6280 en status_xref
No se encontró el valor OP,6280LP en status_xref
No se encontró el valor OP,6280LG en status_xref
No se encontró el valor OP,6282S en status_xref
No se encontró el valor OP,35C207 en status_xref
No se encontró el valor OP,35C224 en status_xref
No se encontró el valor OP,35T1SC en status_xref
No se encontró el valor OP,25SC4 en status_xref
No se encontró el valor OP,LTC2 en status_xref
No se encontró el valor OP,RAV2 en status_xref
No se encontró el valor OP,RBV2 en status_xref
No se encontró el valor OP,RCV2 en status_xref
No se encontró el valor OP,TX2A en status_xref
No se encontró el valor OP,TX2B en status_xref
No se encontró el valor OP,TX2C en status_xref
No se encontró el valor OP,KVA2M en status_xref
No se encontró el valor OP,TX2W en status_xref
No se encontró el valor OP,MV2- en status_xref
No se encontró el valor OP,MV2 en status_xref
No se encontró el valor OP,PF2M en status_xref
No se encontró el valor OP,TX2FRQ en status_xref
No se encontró el valor OP,KWPHR2 en status_xref
No se encontró el valor OP,T2HST1 en status_xref
No se encontró el valor OP,T2HST2 en status_xref
No se encontró el valor OP,T2HST3 en status_xref
No se encontró el valor OP,TX2TMP en status_xref
No se encontró el valor OP,TC2TMP en status_xref
No se encontró el valor OP,TX2ABT en status_xref
No se encontró el valor OP,5A en status_xref
No se encontró el valor OP,5B en status_xref
No se encontró el valor OP,5C en status_xref
No se encontró el valor OP,5KW en status_xref
No se encontró el valor OP,5PF en status_xref
No se encontró el valor OP,6A en status_xref
No se encontró el valor OP,6B en status_xref
No se encontró el valor OP,6C en status_xref
No se encontró el valor OP,6KW en status_xref
No se encontró el valor OP,6PF en status_xref
No se encontró el valor OP,7A en status_xref
No se encontró el valor OP,7B en status_xref
No se encontró el valor OP,7C en status_xref
No se encontró el valor OP,7KW en status_xref
No se encontró el valor OP,7PF en status_xref
No se encontró el valor OP,8A en status_xref
No se encontró el valor OP,8B en status_xref
No se encontró el valor OP,8C en status_xref
No se encontró el valor OP,8KW en status_xref
No se encontró el valor OP,8PF en status_xref
Scan Data con Destination_key:
   Point ID Station Pnuemonic              Description  COM  RTU Pg  Status P  \
0     35025      ME      K697          ME K697 CIRC SW    1   11  3       8.0
1     35033      ME    T1F1AC  ME TX STG1 FANS LOSS AC    1   11  4       0.0
2     35034      ME    T1F2AC  ME TX STG2 FANS LOSS AC    1   11  4       1.0
3     35035      ME    TX1NHI     ME TX1 NITRO HIGH PR    1   11  4       2.0
4     35036      ME    TX1NLO       ME TX NITRO LOW PR    1   11  4       3.0

   Analog P  Relay P  ...  Scale    Type   Helper Column   IP Address  \
0       NaN      NaN  ...    NaN  STATUS    MEK697STATUS  172.16.3.81
1       NaN      NaN  ...    NaN  STATUS  MET1F1ACSTATUS  172.16.3.81
2       NaN      NaN  ...    NaN  STATUS  MET1F2ACSTATUS  172.16.3.81
3       NaN      NaN  ...    NaN  STATUS  METX1NHISTATUS  172.16.3.81
4       NaN      NaN  ...    NaN  STATUS  METX1NLOSTATUS  172.16.3.81

  DNPAddress  DNP Point  Unnamed: 17  Unnamed: 18  SCAN_DATA_Record  \
0          1          0          NaN          NaN                 1
1          1         31          NaN          NaN                32
2          1         32          NaN          NaN                33
3          1         33          NaN          NaN                34
4          1         34          NaN          NaN                35

   Destination_key
0       "01041056"
1       "01041064"
2       "01041065"
3       "01041066"
4       "01041067"

[5 rows x 21 columns]

# OUTPUT SCAN DATA

In [69]:
with open("SCAN_DATA.dat", 'w') as f:
    f.write('32 FEP.DB\n')
    f.write('* \n')
    f.write('\t10\tSCAN_DATA\t0\t14\t50\n')
    f.write('*\tSCAN_DATA_Record\t1s\tDestinationKey\tName\n')

    for index, row in scan_data.iterrows():
        f.write('\t{}\t{}\t{}\t"{}"\n'.format(
                row['SCAN_DATA_Record'], "1", row['Destination_key'], row['Description']))
    

    f.write(" 0\n")
    f.write(" 0")

_____________

# CHANNEL_GROUP_DEFN

dependencies:

RG 12/6
Indic  0  : one to one

ConnectionType 3,8 : Set to 1

APDU 3,9 : Set to 2

Max APDU 3,3 : Set to 23

MasterAddr   12 :  Set to 1024

In [70]:
rtac_data = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')

channel_group_defn = pd.DataFrame()

#COLUMNS OF CHANNEL_GROUP
channel_group_defn['Indic'] = rtac_data['RTAC Number'] #Este es el indice incremental de a uno
channel_group_defn['ConnectionType'] = [1] * len(rtac_data)
channel_group_defn['APDU'] = [2] * len(rtac_data)

channel_group_defn['MaxApdu'] = [23] * len(rtac_data)
channel_group_defn['MasterAddr'] = [1024] * len(rtac_data)

In [71]:
with open("CHANNEL_GROUP_DEFN.dat", 'w') as f:
    f.write('* \n')
    f.write('\t36\tCHANNEL_GROUP_DEFN\t0\t12\n')
    f.write('*\tIndic\t1s\tMasterAddr\n')

    for index, row in channel_group_defn.iterrows():
        f.write("\t{}\t{}\t{}\n".format(
                row['Indic'], row['ConnectionType'], row['MasterAddr']))
    

    f.write(" 0")

_________________

# RTU CONTROL

dependencies : Equivalency_station.csv
& RTAC SCADA DNP IPs Reordered (1).csv

1  =  KeySCADA: 

####=!RG 2/11: If ( Point Type == RELAY) then merge column Name+ ',' + Description , and then ####search for it in the output file SCADA.dat object Status. Grab the key of the matching #####record

# update

RG 3/24: If ( Point Type == RELAY) then merge column Station+ ',' + Point, and then search for it in the status_xref and grab the key of the matching record.




2  =  control_type:  Field: "IP
DNP Point #"

RG 2/11: If there are two records with same IP and same DNP Point # then create two records both with same KeySCADA, the first one will have control_type equal to 4, and the second equal to 5. 
If there is only one record with unique IP and unique DNP Point # then create one record and control_type equal 6.




4  =  point_address: Field : "DNP Point #"

"RG 2/11:  If there are two records with same IP and same DNP Point # then use DNP Point # on each of the two records, 
If there is only one record with unique IP and unique DNP Point # then use  DNP Point # in its own record."



6  =  pRTU:   Field:   IP 

RG 2/11: Search IP column in the IP of RTAC SCADA DNP IPs Reordered.xlsx and point to the record of that RTU. 

Should be middle three digits of SCADA Key


43 = Name   Field : Description.  between : ""

__________

# OMITIR ESTO ENTRE SEPADRADORES

In [72]:
#equivalency_station = pd.read_csv('Equivalency_station.csv')

In [73]:
#equivalency_station = equivalency_station.drop(columns=['Point.1'])

In [74]:
#equivalency_station

In [75]:
#RtuControl = pd.DataFrame(index=equivalency_station.index)


#RtuControl['KeySCADA'] = equivalency_station.apply(lambda row: row['Station'] + ',' + row['Point'] if row['Point Type'] == 'RELAY' else '', axis=1)

In [76]:
#RtuControl

In [77]:

#source_status = pd.read_csv('status_xref.csv')


#RtuControl['Key2'] = pd.NA


#buscados = 0
#encontrados = 0


#for index, row in RtuControl.iterrows():
 #   if pd.notna(row['KeySCADA']) and row['KeySCADA'] != '': 
  #      buscados += 1
   
  #      match = source_status[source_status['Name_Status_Source  '].str.contains(row['KeySCADA'])]
  #      if not match.empty: 
  #          encontrados += 1
  #          
  #          RtuControl.at[index, 'Key2'] = match['Key'].values[0]

#print(f"Items buscados: {buscados}")
#print(f"Items encontrados: {encontrados}")

In [78]:
#RtuControl = RtuControl.rename(columns={'KeySCADA': 'equivalency_station_point'})

In [79]:
#RtuControl = RtuControl.rename(columns={'Key2': 'Key'})

_________

In [80]:
comentado = """
import pandas as pd


equivalency_station = pd.read_csv('Equivalency_station.csv')

RtuControl = pd.DataFrame(index=equivalency_station.index)


RtuControl['KeySCADA'] = equivalency_station.apply(lambda row: row['Full Point Name'] + ' ' + row['Description'] if row['Point Type'] == 'RELAY' else '', axis=1)
"""

In [81]:
comentado = """
source_status = pd.read_csv('status_xref.csv')


RtuControl['Key2'] = pd.NA


buscados = 0
encontrados = 0


for index, row in RtuControl.iterrows():
    if pd.notna(row['KeySCADA']): 
        buscados += 1
        
        match = source_status[source_status['Name'] == row['KeySCADA']]
        if not match.empty: 
            encontrados += 1
            
            RtuControl.at[index, 'Key2'] = match['Key'].values[0]

print(f"Items buscados: {buscados}")
print(f"Items encontrados: {encontrados}")
"""

In [82]:
comentado = """

df1 = pd.read_csv('equivalency_station.csv')
df2 = pd.read_csv('status_xref.csv') 

df1 = df1[['Station', 'Point']]
df1['combined'] = df1['Station'] + ',' + df1['Point'] + '  '

results = []
matches = 0
for val in df1['combined']:
    match = df2['Name_Status_Source  '].str.contains(val)
    if match.any():
        key = df2[match]['Key'].iloc[0]
        results.append({'equivalency_station_point': val, 'Key': key})
        matches += 1

df = pd.DataFrame(results)

print(f"Number of matches: {matches}") 
print(df) 
"""

In [83]:
draft = """df1 = pd.read_csv('equivalency_station.csv')
df1 = df1[df1['Point Type'] == 'RELAY']

df2 = pd.read_csv('status_xref.csv')

df1 = df1[['Station', 'Point', 'IP', 'DNP Point #', 'Description']]
df1['combined'] = df1['Station'] + ',' + df1['Point'] + '  '

results = []
matches = 0
for val in df1['combined']:
    match = df2['Name_Status_Source  '].str.contains(val)
    if match.any():
        key = df2[match]['Key'].iloc[0]
        results.append({'equivalency_station_point': val, 'Key': key, 'IP': df1[df1['combined'] == val]['IP'].iloc[0], 'DNP Point #': df1[df1['combined'] == val]['DNP Point #'].iloc[0]})
        matches += 1

df_matches = pd.DataFrame(results)
df_matches['Description'] = df_matches['equivalency_station_point'].apply(lambda x: df1[df1['combined'] == x]['Description'].iloc[0])
print(f"Number of matches: {matches}")


rtac_scada_ips = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')

#  control_type
#df_matches['control_type'] = 6
df_matches.loc[df_matches.duplicated(subset=['IP', 'DNP Point #'], keep=False), 'control_type'] = df_matches[df_matches.duplicated(subset=['IP', 'DNP Point #'], keep=False)].groupby(['IP', 'DNP Point #']).cumcount() + 4
df_matches['control_type'] = df_matches['control_type'].fillna(6)
#  point_address
df_matches['point_address'] = df_matches['DNP Point #']

#  pRTU
df_matches['pRTU'] = df_matches['IP'].apply(lambda x: rtac_scada_ips[rtac_scada_ips['RTAC SCADA IP'] == x]['RTAC Number'].iloc[0] if not rtac_scada_ips[rtac_scada_ips['RTAC SCADA IP'] == x].empty else '')


result_df = df_matches[['Key', 'control_type', 'point_address', 'pRTU', 'Description']]
result_df['Description'] = '"' + result_df['Description'] + '"'



#result_df = df_matches[['Key', 'control_type', 'point_address', 'pRTU']]


result_df = result_df.fillna(777)


result_df['control_type'] = result_df['control_type'].astype(int)
result_df['point_address'] = result_df['point_address'].astype(int)
result_df['pRTU'] = result_df['pRTU'].astype(int)
result_df['control_format'] = 1


result_df = result_df.replace(777, '')

print(result_df)"""

In [84]:
df1 = pd.read_csv('equivalency_station.csv')
df1 = df1[df1['Point Type'] == 'RELAY']
df2 = pd.read_csv('status_xref.csv')
df1 = df1[['Station', 'Point', 'IP', 'DNP Point #', 'Description']]
df1['combined'] = df1['Station'] + ',' + df1['Point'] + ' '

results = []
matches = 0
for val in df1['combined']:
    match = df2['Name_Status_Source  '].str.contains(val)
    if match.any():
        key = df2[match]['Key'].iloc[0]
        results.append({'equivalency_station_point': val, 'Key': key, 'IP': df1[df1['combined'] == val]['IP'].iloc[0], 'DNP Point #': df1[df1['combined'] == val]['DNP Point #'].iloc[0]})
        matches += 1

df_matches = pd.DataFrame(results)
df_matches['Description'] = df_matches['equivalency_station_point'].apply(lambda x: df1[df1['combined'] == x]['Description'].iloc[0])
print(f"Number of matches: {matches}")

rtac_scada_ips = pd.read_csv('RTAC SCADA DNP IPs Reordered (1).csv')

#control_type
#df_matches['control_type'] = 6
df_matches.loc[df_matches.duplicated(subset=['IP', 'DNP Point #'], keep=False), 'control_type'] = df_matches[df_matches.duplicated(subset=['IP', 'DNP Point #'], keep=False)].groupby(['IP', 'DNP Point #']).cumcount() + 4
df_matches['control_type'] = df_matches['control_type'].fillna(6)

#point_address
df_matches['point_address'] = df_matches['DNP Point #']

#pRTU
df_matches['pRTU'] = df_matches['IP'].apply(lambda x: rtac_scada_ips[rtac_scada_ips['RTAC SCADA IP'] == x]['RTAC Number'].iloc[0] if not rtac_scada_ips[rtac_scada_ips['RTAC SCADA IP'] == x].empty else '')

result_df = df_matches[['Key', 'control_type', 'point_address', 'pRTU', 'Description']]
result_df = result_df.fillna(777)
result_df['control_type'] = result_df['control_type'].astype(int)
result_df['point_address'] = result_df['point_address'].astype(int)
result_df['pRTU'] = result_df['pRTU'].astype(int)
result_df['control_format'] = 1
result_df = result_df.replace(777, '')
result_df['Description'] = '"' + result_df['Description'] + '"'
print(result_df)

Number of matches: 48
           Key  control_type  point_address  pRTU  \
0   "01041004"             4             18    17
1   "01041004"             5             18    17
2   "01041005"             4             23    17
3   "01041005"             5             23    17
4   "01041006"             4             33    17
5   "01041006"             5             33    17
6   "01041007"             4             19    17
7   "01041007"             5             19    17
8   "01041008"             4             24    17
9   "01041008"             5             24    17
10  "01041009"             4             34    17
11  "01041009"             5             34    17
12  "01041010"             4             20    17
13  "01041010"             5             20    17
14  "01041012"             4             25    17
15  "01041012"             5             25    17
16  "01041014"             4             28    17
17  "01041014"             5             28    17
18  "01041015"             4             29    17
19  "01041015"             5             29    17
20  "01041018"             4             30    17
21  "01041018"             5             30    17
22  "01041019"             4              9    17
23  "01041019"             5              9    17
24  "01041020"             4             10    17
25  "01041020"             5             10    17
26  "01041025"             4             35    17
27  "01041025"             5             35    17
28  "01041042"             4              8    17
29  "01041042"             5              8    17
30  "01041056"             4              0    17
31  "01041056"             5              0    17
32  "01041063"             4             11    17
33  "01041063"             5             11    17
34  "01041076"             4             17    17
35  "01041076"             5             17    17
36  "01041086"             4              6    17
37  "01041086"             5              6    17
38  "01041087"             4              7    17
39  "01041087"             5              7    17
40  "01041096"             4             21    17
41  "01041096"             5             21    17
42  "01041097"             4             26    17
43  "01041097"             5             26    17
44  "01041098"             4             31    17
45  "01041098"             5             31    17
46  "01041099"             4             36    17
47  "01041099"             5             36    17

                      Description  control_format
0                   "BRK #1 OPEN"               1
1                   "BRK #1 OPEN"               1
2                   "BRK #2 TRIP"               1
3                   "BRK #2 TRIP"               1
4                   "BRK #4 TRIP"               1
5                   "BRK #4 TRIP"               1
6            "BKR #1 RECLOSE OFF"               1
7            "BKR #1 RECLOSE OFF"               1
8            "BRK #2 RECLOSE OFF"               1
9            "BRK #2 RECLOSE OFF"               1
10            "BKR 4 RECLOSE OFF"               1
11            "BKR 4 RECLOSE OFF"               1
12     "BRK #1 GND TRIP DISABLED"               1
13     "BRK #1 GND TRIP DISABLED"               1
14     "BRK #2 GND TRIP DISABLED"               1
15     "BRK #2 GND TRIP DISABLED"               1
16                  "BRK #3 TRIP"               1
17                  "BRK #3 TRIP"               1
18           "BRK #3 RECLOSE OFF"               1
19           "BRK #3 RECLOSE OFF"               1
20  "BRK #3 GROUND TRIP DISABLED"               1
21  "BRK #3 GROUND TRIP DISABLED"               1
22       "TX VOLT CONTROL K1 SET"               1
23       "TX VOLT CONTROL K1 SET"               1
24      "TX1 VOLT CONTROL K2 SET"               1
25      "TX1 VOLT CONTROL K2 SET"               1
26      "BKR 4 GND TRIP DISABLED"               1
27      "BKR 4 GND TRIP DISABLED"               1
28                "TX LTC MANUAL"               1
29                "TX LTC MANUAL"               1
30        "CIRCUIT SWITCHER TRIP"               1
31        "CIRCUIT SWITCHER TRIP"               1
32                 "TX LTC RAISE"               1
33                 "TX LTC RAISE"               1
34               "S3L12 LBI OPEN"               1
35               "S3L12 LBI OPEN"               1
36          "TX STAGE 1 FANS OFF"               1
37          "TX STAGE 1 FANS OFF"               1
38          "TX STAGE 2 FANS OFF"               1
39          "TX STAGE 2 FANS OFF"               1
40  "BKR 1 HOT LINE REC DISABLED"               1
41  "BKR 1 HOT LINE REC DISABLED"               1
42  "BKR 2 HOT LINE REC DISABLED"               1
43  "BKR 2 HOT LINE REC DISABLED"               1
44  "BKR 3 HOT LINE REC DISABLED"               1
45  "BKR 3 HOT LINE REC DISABLED"               1
46  "BKR 4 HOT LINE REC DISABLED"               1
47  "BKR 4 HOT LINE REC DISABLED"               1

In [85]:
import numpy as np
index = np.arange(1,len(result_df)+1)
result_df.insert(0, 'idx', index)

In [86]:
result_df

,idx,Key,control_type,point_address,pRTU,Description,control_format
0,1,"""01041004""",4,18,17,"""BRK #1 OPEN""",1
1,2,"""01041004""",5,18,17,"""BRK #1 OPEN""",1
2,3,"""01041005""",4,23,17,"""BRK #2 TRIP""",1
3,4,"""01041005""",5,23,17,"""BRK #2 TRIP""",1
4,5,"""01041006""",4,33,17,"""BRK #4 TRIP""",1
5,6,"""01041006""",5,33,17,"""BRK #4 TRIP""",1
6,7,"""01041007""",4,19,17,"""BKR #1 RECLOSE OFF""",1
7,8,"""01041007""",5,19,17,"""BKR #1 RECLOSE OFF""",1
8,9,"""01041008""",4,24,17,"""BRK #2 RECLOSE OFF""",1
9,10,"""01041008""",5,24,17,"""BRK #2 RECLOSE OFF""",1
10,11,"""01041009""",4,34,17,"""BKR 4 RECLOSE OFF""",1
11,12,"""01041009""",5,34,17,"""BKR 4 RECLOSE OFF""",1
12,13,"""01041010""",4,20,17,"""BRK #1 GND TRIP DISABLED""",1
13,14,"""01041010""",5,20,17,"""BRK #1 GND TRIP DISABLED""",1
14,15,"""01041012""",4,25,17,"""BRK #2 GND TRIP DISABLED""",1
15,16,"""01041012""",5,25,17,"""BRK #2 GND TRIP DISABLED""",1
16,17,"""01041014""",4,28,17,"""BRK #3 TRIP""",1
17,18,"""01041014""",5,28,17,"""BRK #3 TRIP""",1
18,19,"""01041015""",4,29,17,"""BRK #3 RECLOSE OFF""",1
19,20,"""01041015""",5,29,17,"""BRK #3 RECLOSE OFF""",1
20,21,"""01041018""",4,30,17,"""BRK #3 GROUND TRIP DISABLED""",1
21,22,"""01041018""",5,30,17,"""BRK #3 GROUND TRIP DISABLED""",1
22,23,"""01041019""",4,9,17,"""TX VOLT CONTROL K1 SET""",1
23,24,"""01041019""",5,9,17,"""TX VOLT CONTROL K1 SET""",1
24,25,"""01041020""",4,10,17,"""TX1 VOLT CONTROL K2 SET""",1
25,26,"""01041020""",5,10,17,"""TX1 VOLT CONTROL K2 SET""",1
26,27,"""01041025""",4,35,17,"""BKR 4 GND TRIP DISABLED""",1
27,28,"""01041025""",5,35,17,"""BKR 4 GND TRIP DISABLED""",1
28,29,"""01041042""",4,8,17,"""TX LTC MANUAL""",1
29,30,"""01041042""",5,8,17,"""TX LTC MANUAL""",1
30,31,"""01041056""",4,0,17,"""CIRCUIT SWITCHER TRIP""",1
31,32,"""01041056""",5,0,17,"""CIRCUIT SWITCHER TRIP""",1
32,33,"""01041063""",4,11,17,"""TX LTC RAISE""",1
33,34,"""01041063""",5,11,17,"""TX LTC RAISE""",1
34,35,"""01041076""",4,17,17,"""S3L12 LBI OPEN""",1
35,36,"""01041076""",5,17,17,"""S3L12 LBI OPEN""",1
36,37,"""01041086""",4,6,17,"""TX STAGE 1 FANS OFF""",1
37,38,"""01041086""",5,6,17,"""TX STAGE 1 FANS OFF""",1
38,39,"""01041087""",4,7,17,"""TX STAGE 2 FANS OFF""",1
39,40,"""01041087""",5,7,17,"""TX STAGE 2 FANS OFF""",1
40,41,"""01041096""",4,21,17,"""BKR 1 HOT LINE REC DISABLED""",1
41,42,"""01041096""",5,21,17,"""BKR 1 HOT LINE REC DISABLED""",1
42,43,"""01041097""",4,26,17,"""BKR 2 HOT LINE REC DISABLED""",1
43,44,"""01041097""",5,26,17,"""BKR 2 HOT LINE REC DISABLED""",1
44,45,"""01041098""",4,31,17,"""BKR 3 HOT LINE REC DISABLED""",1
45,46,"""01041098""",5,31,17,"""BKR 3 HOT LINE REC DISABLED""",1
46,47,"""01041099""",4,36,17,"""BKR 4 HOT LINE REC DISABLED""",1
47,48,"""01041099""",5,36,17,"""BKR 4 HOT LINE REC DISABLED""",1

Numero de objeto RTU_CONTROL?

In [87]:
rtu_object_number = 20

In [88]:
with open("RTU_CONTROL.dat", 'w') as f:
    f.write('* \n')
    f.write(f'\t{rtu_object_number}\tRTU_CONTROL\t1\t2\t4\t6\t13\n')
    f.write('*\tKeySCADA\tcontrol_type\tpoint_address\tpRTU\tcontrol_format\n')

    for index, row in result_df.iterrows():
        f.write("\t{}\t{}\t{}\t{}\t{}\t{}\n".format(
                row['idx'] ,row['Key'], row['control_type'], row['point_address'], row['pRTU'],row['control_format']))
    

    f.write(" 0")

________