In [306]:
import pandas as pd
import os
from datetime import datetime
import numpy as np

# STATION

Description: This script takes in a file named Station.csv(default) , recognizes its information and interprets the columns. Finally prints and save a Dat format file with the predefined tables for further processing

Station Data Conversion REFERENCE : 

ORDER : Padded with incremental index numbering

Key : Column "Name" in Station.csv  . Erased blank spaces.('Example_ _')

Name : Column "Desc" in Station.csv . Erased blank spaces.('Example_ _')

AOR : Column Zones in Station.csv.

The .str.rstrip() method is widely used since many fields (almost all of them) have their value ending with two blank spaces.

In [307]:
#Input Filename (default = Station.csv)
InputStationFile = "Station.csv"

In [308]:
df = pd.read_csv(InputStationFile, skipinitialspace=True)
df.columns = df.columns.str.strip()

df_output = pd.DataFrame()
df_output['Order'] = range(1, len(df)+1) # Order column was not  specified in documentation. So in default is a unique incremental index.
df_output['Key'] = '"'+ df['Name'].str.rstrip() + '"'  
df_output['Name'] = '"' + df['Desc'].str.rstrip() + '"' 
df_output['AOR'] = df['Zones']

#sorting
df_output = df_output[['Order', 'Key', 'Name', 'AOR']]
df_station = df_output

#verification
print(df_station)

    Order     Key                        Name                AOR
0       1    "DI"     "DR INLET DISTRIBUTION"                3
1       2    "BY"      "BRICKYARD SUBSTATION"                4
2       3    "WS"  "WORTHINGTON SPRINGS DIST"                5
3       4    "WA"          "WALDO SUBSTATION"                1
4       5    "AB"           "ASTOR SWITCHING"                1
..    ...     ...                         ...                ...
70     71  "SYS$"       "SYTEM PSUEDO POINTS"  1 2 3 4 5 6 7 8
71     72    "BL"          "BLAND SUBSTATION"                5
72     73    "WO"    "WATER OAK DISTRIBUTION"                3
73     74    "AS"        "ASTOR DISTRIBUTION"                7
74     75  "ODA$"         "ODA PSEUDO ANALOG"  1 2 3 4 5 6 7 8

[75 rows x 4 columns]

In [309]:
# Crear un diccionario que mapee los valores actuales a los valores de reemplazo
replacement_dict = {
    '1  ': 1,
    '2  ': 2,
    '3  ': 3,
    '4  ': 4,
    '5  ': 5,
    '6  ': 6,
    '7  ': 7,
    '8  ': 8,
    '1 2 3 4 5 6 7  ': 9,
    '1 2 3 4 5 6 7 8  ': 10,
    '2 8  ': 11,
    '7 8  ': 12,
    '1 2  ': 13,
    '1 4  ': 14,
    '3 4  ': 15,
    '3 8  ': 16
}

df_station['AOR'] = df_station['AOR'].replace(replacement_dict)

In [310]:
df_station

    Order     Key                        Name  AOR
0       1    "DI"     "DR INLET DISTRIBUTION"    3
1       2    "BY"      "BRICKYARD SUBSTATION"    4
2       3    "WS"  "WORTHINGTON SPRINGS DIST"    5
3       4    "WA"          "WALDO SUBSTATION"    1
4       5    "AB"           "ASTOR SWITCHING"    1
..    ...     ...                         ...  ...
70     71  "SYS$"       "SYTEM PSUEDO POINTS"   10
71     72    "BL"          "BLAND SUBSTATION"    5
72     73    "WO"    "WATER OAK DISTRIBUTION"    3
73     74    "AS"        "ASTOR DISTRIBUTION"    7
74     75  "ODA$"         "ODA PSEUDO ANALOG"   10

[75 rows x 4 columns]

# Select Output name: (default: station_dat.dat)

In [311]:
folder_name = "SCADA_DAT_FILES"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

stationfilename = os.path.join(folder_name, "station_dat.dat")

now = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
with open(stationfilename, 'w') as f:
    f.write("*\n")
    f.write("*\n")
    f.write(f"* Creation Date/Time: {now}\n")
    f.write("*\n")
    f.write("*\tOrder\tKey\tName\tAOR\n")
    f.write("*\n")
    f.write("\t2\tSTATION\t0\t3\t4\t13\n")
    f.write("*\n")

    for index, row in df_station.iterrows():
        f.write("{}\t{}\t{}\t{}\t{}\t{}\n".format
                ("", row['Order'], row['Order'], row['Key'], row['Name'], row['AOR']))
    f.write(" 0")

# END STATION

--------------------------------------------------

# DEVICE_INSTANCE

Description: This script takes in a file named STATUS.csv , uses a column named 'NAME'
Instruction : Remove the first three characters so only the text after the comma remains. Then delete repetitions . From the 5000 records we should end with about 3800.

Desired output:

*/             Order  Name
*/             ----  -----      
	53	DEVICE_INSTANCE	0
*---------------------------------------------------------------
	1	"MTXTOT"
	2	"DRD"
	3	"35C109"

In [312]:
df_device_instance = pd.read_csv('Status.csv')

In [313]:
df_device_instance = df_device_instance[['Name  ']]

In [314]:
df_device_instance['Name  '] = df_device_instance['Name  '].str.split(',', expand=True)[1].str.strip()

In [315]:
df_device_instance

      Name
0     MTXTOT
1        DRD
2     35C109
3     S8W219
4     25YBSC
...      ...
8459  FL3103
8460  FL3T12
8461  FL3T21
8462  FL3X12
8463  FL3P21

[8464 rows x 1 columns]

In [316]:
df_device_instance = df_device_instance.drop_duplicates()

In [317]:
df_device_instance

      Name
0     MTXTOT
1        DRD
2     35C109
3     S8W219
4     25YBSC
...      ...
8459  FL3103
8460  FL3T12
8461  FL3T21
8462  FL3X12
8463  FL3P21

[3260 rows x 1 columns]

In [318]:
df_device_instance['Number'] = range(1,len(df_device_instance)+1)

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/4099964339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_device_instance['Number'] = range(1,len(df_device_instance)+1)

In [319]:
df_device_instance = df_device_instance[['Number', 'Name  ']]

In [320]:
df_device_instance

      Number  Name
0          1  MTXTOT
1          2     DRD
2          3  35C109
3          4  S8W219
4          5  25YBSC
...      ...     ...
8459    3256  FL3103
8460    3257  FL3T12
8461    3258  FL3T21
8462    3259  FL3X12
8463    3260  FL3P21

[3260 rows x 2 columns]

In [321]:
folder_name = "SCADA_DAT_FILES"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [322]:

device_inst_filename = os.path.join(folder_name, "device_instance_dat.dat")

In [323]:
with open(device_inst_filename, 'w') as f:
    f.write("*\n")
    f.write("\t53\tDEVICE_INSTANCE\t0\n")
    f.write("*\tIndex\tName\n")

    for index, row in df_device_instance.iterrows():
        f.write("\t{}\t{}\n".format(row['Number'], row['Name  ']))
    
    f.write("0")

In [324]:
df_analog_instance = pd.read_csv('Analog.csv')

df_analog_instance = df_analog_instance[['Name  ']]
df_analog_instance['Name  '] = df_analog_instance['Name  '].apply(lambda x: x.split(',')[1].strip())

#df_device_instance['Name  '] = df_device_instance['Name  '].str.split(',', expand=True)[1].str.strip()

#df_analog_instance['Name  '] = df_analog_instance['Name  '].strsplit(',', expand=True)[1].str.strip()
df_analog_instance = df_analog_instance.drop_duplicates()

In [325]:
df_analog_instance

      Name
0      W543A
1      W543B
2      W543C
3     WNDSPD
4         RC
...      ...
4327   CDYTS
4328   PDYTS
4329   CMTTS
4330   PMTTS
4349  P69CHT

[1209 rows x 1 columns]

In [326]:

# Concatenar los DataFrames df_device_instance y df_analog_instance
result_df = pd.concat([df_device_instance, df_analog_instance], ignore_index=True)
result_df.drop_duplicates(subset='Name  ', inplace=True, keep='first')

# Mostrar el DataFrame resultante
print(result_df)

      Number  Name
0        1.0  MTXTOT
1        2.0     DRD
2        3.0  35C109
3        4.0  S8W219
4        5.0  25YBSC
...      ...     ...
4464     NaN   CDYTS
4465     NaN   PDYTS
4466     NaN   CMTTS
4467     NaN   PMTTS
4468     NaN  P69CHT

[4467 rows x 2 columns]

In [327]:
result_df

      Number  Name
0        1.0  MTXTOT
1        2.0     DRD
2        3.0  35C109
3        4.0  S8W219
4        5.0  25YBSC
...      ...     ...
4464     NaN   CDYTS
4465     NaN   PDYTS
4466     NaN   CMTTS
4467     NaN   PMTTS
4468     NaN  P69CHT

[4467 rows x 2 columns]

In [328]:
df_device_instance = result_df

In [329]:
df_device_instance['Number'] = range(1,len(df_device_instance)+1)

In [330]:
df_device_instance

      Number  Name
0          1  MTXTOT
1          2     DRD
2          3  35C109
3          4  S8W219
4          5  25YBSC
...      ...     ...
4464    4463   CDYTS
4465    4464   PDYTS
4466    4465   CMTTS
4467    4466   PMTTS
4468    4467  P69CHT

[4467 rows x 2 columns]

In [331]:
device_inst_filename = os.path.join(folder_name, "device_instance_dat.dat")

In [332]:
with open(device_inst_filename, 'w') as f:
    f.write("*\n")
    f.write("\t53\tDEVICE_INSTANCE\t0\n")
    f.write("*\tIndex\tName\n")

    for index, row in df_device_instance.iterrows():
        f.write("\t{}\t{}\n".format(row['Number'], row['Name  ']))
    
    f.write("0")

_________________

_________

# STATUS

Description: This script takes in a file named Status.csv(default) , recognizes its information and interprets the columns. Finally prints and save a Dat format file with the predefined tables for further processing

Station Data Conversion REFERENCE : 

(1)Type : ( 
       
            If column "Telem_A" in status.csv = empty. C_IND.   Type = 5

            If column "Telem_A" in status.csv = any number. T_IND.  Type = 1
            
            If column "Open_B" in status.csv = 12.  T_I&C.     Type = 2  ) 
                Criteria: only 42 rows (0,49%) has Open_B= 12.
                        so its gonna be Type = 2 regardless the value of Telem_A, 
                        giving priority to Open_B.
                        (In evey case of Open_B=12, Telem_A showed a number also)
              
              Edited:  IF column Stn = 054 (PS. PSEUDO POINTS) , M_IND. Type = 8 


----------
 15.1 Updates for TYPE: (
       
       "RG 1/15:
        If (PreSuffix == 7) then (T_R&L) Type=6 
        If (PreSuffix ==20 and (Desc contains 'LTC' or Desc contains 'REG')) then (T_CTL) Type=3 
Telem_A=any number then (T_IND) Type =1
Open_B=12 then (T_I&C) Type =2
Telem_A=<blank>  then (C_IND) Type =5
"

 )

--------
(3)Key : Format XXYYYZZZ
                         XX =   If type (descripted before) = 1 , XX = 01
                                If type (descripted before) = 2 , XX = 01
                                If type (descripted before) = 5 , XX = 02
                                If type (descripted before) = 8 , XX = 12
                         YYY = Stn (Station Order number.)(descripted in this Markdown)
                         ZZZ = Incremental number per station

(4)Name : Column "Name" + column "Desc" in Status.csv. Replace the commas (,) with blank spaces.

      *****
       Updated : 2019-03-06 . (4) Name : Column "Desc" in Status.csv . If not defined will be set to Key 

(5) Stn : (XXX) -> The first characters of the "Name" column in the current dataset, before the comma (,), reference the value of the KEY column in the previous dataset (Station). This value is based on the Order column. This number should be expressed in three digits (e.g., 38 = 038).

(10) Aor : Column "Zones" in Status.csv

(19) pState : Column "Presuffx" in Status.csv

(49) Norm : Column "Normal_State" in Status.csv

(29) AlarmGroup: Will be set to 1 unless defined in mapping document

(41) ICAddress : Refer to documentation. This script leaves it in blank
  **update 01/22 : ICAddress . double quotations "" 

* ***UPDATE : 
(107) pDeviceInstance : Column "Name" in Status.csv . Get the string after the comma, then search for the matching record of the objet DEVICE_INSTANCE.

TYPE update
RG 1/18: If (Open_A is.notEmpty && Close_A is.NotEmpty) then (T_I&C) Type =2

In [333]:
#Input filename(default: "Status.csv")
InputStatusFile = "Status.csv"

In [334]:
status_df = pd.read_csv(InputStatusFile)
df_status = pd.DataFrame()

In [335]:
df_status['record'] = range(1, len(status_df)+1) 
df_status['OrderNo'] = range(1, len(status_df)+1) 
##### TYPE ######
status_df['PreSuffx  '] = status_df['PreSuffx  '].astype(str).str.strip()

#### conditions ###
cond1 = (status_df['Open_B  '] == '12  ')
cond2 = (status_df['Telem_A  '].replace('  ', np.nan).notna())
cond3 = status_df['PreSuffx  '].str.contains('7')
cond4 = status_df['PreSuffx  '].str.contains('20') & status_df['Desc  '].str.contains('LTC|REG')
cond5 = (status_df['Open_A  '] != '  ') & (status_df['Close_A  '] != '  ')


## values 
conditions = [cond5, cond1, cond4, cond3, cond2]
values = [2, 2, 3, 6, 1]
#conditions.append(cond5)  
#values.append(2)

df_status['Type'] = np.select(conditions, values, default=5)

#df_status['Type'] = np.where(status_df['Open_B  '] == '12  ', 2, np.where(status_df['Telem_A  '].replace('  ', np.nan).notna(), 1, 5))
####################
df_status['Name'] = status_df['Desc  ']
df_status['AOR'] = status_df['Zones  '].str.rstrip()
df_status['AOR'] = df_status['AOR'].str.replace(r'\s+', '', regex=True)
df_status['pState'] = status_df['PreSuffx  ']
df_status['Norm'] = status_df['Normal_State  ']
df_status['AlarmGroup'] = 1
df_status['ICAddress'] = '""'

In [336]:
df_status['Type'].value_counts()

Type
1    5065
5    1840
2    1440
6     115
3       4
Name: count, dtype: int64

In [337]:

replacement_dict = {
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '1234567': 9,
    '12345678': 10,
    '28': 11,
    '78': 12,
    '12': 13,
    '14': 14,
    '34': 15,
    '38': 16
}


df_status['AOR'] = df_status['AOR'].replace(replacement_dict)

In [338]:
df_status

,record,OrderNo,Type,Name,AOR,pState,Norm,AlarmGroup,ICAddress
0,1,1,1,MOBIL TX HOT OIL TEMP,4,8,0,1,""""""
1,2,2,1,PH DIFF RELAY DISABLE,5,5,0,1,""""""
2,3,3,1,BW 2100-1 ALARM COM 9,4,26,0,1,""""""
3,4,4,5,SB PSEUDO BREAKER,1,15,0,1,""""""
4,5,5,1,YARD BOX 2505 SELF CHECK,5,26,0,1,""""""
...,...,...,...,...,...,...,...,...,...
8459,8460,8460,5,PSUEDO SWITCH,10,15,0,1,""""""
8460,8461,8461,5,FL LOW SD BUS TIE 3T12,10,15,0,1,""""""
8461,8462,8462,5,FL LOW SD BUS TIE 3T21,10,15,0,1,""""""
8462,8463,8463,5,FL XFR BUS TIE 3X12,10,15,0,1,""""""
8463,8464,8464,5,TX2 LTC MET PT 3P21,4,15,0,1,""""""

In [339]:
status_df

,Name,Desc,Zones,PType,DevClass,PreSuffx,Telem_CL,Telem_RTU,Telem_A,Telem_B,...,Vcode_State0,Vcode_State1,Vcode_State2,Vcode_State3,Normal_State,Dual_Normal,Alarm_Task,Annc_Delay,Alarm_Fmt,Meter_PT
0,"OP,MTXTOT",MOBIL TX HOT OIL TEMP,4,18,2,8,4,23,8,0,...,0,0,0,0,0,0,,120,130,
1,"PH,DRD",PH DIFF RELAY DISABLE,5,22,2,5,5,5,1,0,...,0,0,0,0,0,0,,0,130,
2,"BW,35C109",BW 2100-1 ALARM COM 9,4,22,2,26,4,25,4,0,...,0,0,0,0,0,0,,5,130,
3,"PS,S8W219",SB PSEUDO BREAKER,1,32,3,15,,,,,...,0,0,0,0,0,0,,0,0,
4,"PH,25YBSC",YARD BOX 2505 SELF CHECK,5,22,2,26,5,5,1,0,...,0,0,0,0,0,0,,120,130,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8459,"PS,FL3103",PSUEDO SWITCH,1 2 3 4 5 6 7 8,32,3,15,,,,,...,0,0,0,0,0,0,,0,0,
8460,"PS,FL3T12",FL LOW SD BUS TIE 3T12,1 2 3 4 5 6 7 8,32,3,15,,,,,...,0,0,0,0,0,0,,0,0,
8461,"PS,FL3T21",FL LOW SD BUS TIE 3T21,1 2 3 4 5 6 7 8,32,3,15,,,,,...,0,0,0,0,0,0,,0,0,
8462,"PS,FL3X12",FL XFR BUS TIE 3X12,1 2 3 4 5 6 7 8,32,3,15,,,,,...,0,0,0,0,0,0,,0,0,
8463,"PS,FL3P21",TX2 LTC MET PT 3P21,4,32,3,15,,,,,...,0,0,0,0,0,0,,0,0,

In [340]:

#df_status['TempName'] = status_df['Name  '].str[3:]

# Elimina espacios en blanco al final de la columna temporal
#df_status['TempName'] = df_status['TempName'].str.rstrip()



df_status['TempName'] = status_df['Name  '].str.split(',', expand=True)[1].str.strip()

# Realiza la asignación de números basada en el nombre temporal
df_status['pDeviceInstance'] = df_status['TempName'].map(df_device_instance.set_index('Name  ')['Number'])

# Borra la columna temporal
df_status.drop(columns=['TempName'], inplace=True)

# Muestra el DataFrame resultante con la nueva columna
print(df_status)

      record  OrderNo  Type                        Name  AOR pState  Norm  \
0          1        1     1     MOBIL TX HOT OIL TEMP      4      8     0
1          2        2     1     PH DIFF RELAY DISABLE      5      5     0
2          3        3     1     BW 2100-1 ALARM COM 9      4     26     0
3          4        4     5         SB PSEUDO BREAKER      1     15     0
4          5        5     1  YARD BOX 2505 SELF CHECK      5     26     0
...      ...      ...   ...                         ...  ...    ...   ...
8459    8460     8460     5             PSUEDO SWITCH     10     15     0
8460    8461     8461     5    FL LOW SD BUS TIE 3T12     10     15     0
8461    8462     8462     5    FL LOW SD BUS TIE 3T21     10     15     0
8462    8463     8463     5       FL XFR BUS TIE 3X12     10     15     0
8463    8464     8464     5       TX2 LTC MET PT 3P21      4     15     0

      AlarmGroup ICAddress  pDeviceInstance
0              1        ""                1
1              1        ""                2
2              1        ""                3
3              1        ""                4
4              1        ""                5
...          ...       ...              ...
8459           1        ""             3256
8460           1        ""             3257
8461           1        ""             3258
8462           1        ""             3259
8463           1        ""             3260

[8464 rows x 10 columns]

# Stn :

This code strips the Name column in status and search the matching row Key in Station Dataframe
then, it reads the Order column value and assign this to the Stn column

In [341]:
status_df['Key'] = status_df['Name  '].str.split(',').str[0].str.strip()  # make sure no blank spaces are in the begin & end of the name
df_station['Key'] = df_station['Key'].str.replace('"', '')
stn_values = []  #list for store stn values

In [342]:
status_df['Key'] = status_df['Name  '].str.split(',').str[0].str.strip()

# Lista para almacenar los valores de 'Stn'
stn_values = []

for i in range(len(status_df)):
    key_value = status_df.loc[i, 'Key']
    
    if key_value == 'PS':
        # Extrae los dos primeros caracteres después de la coma
        first_two_chars_after_comma = status_df.loc[i, 'Name  '].split(',')[1][:2].strip()

        # Verifica si first_two_chars_after_comma está en df_station['Key']
        if first_two_chars_after_comma in df_station['Key'].values:
            key_value = first_two_chars_after_comma
        elif first_two_chars_after_comma == 'FP':  # Nueva condición para FP
            print(f"FP encontrado, cambiando a FSP en fila {i}")
            key_value = 'FSP'
        elif first_two_chars_after_comma == 'UC':  # Nueva condición para UC
            print(f"UC encontrado, cambiando a UCI en fila {i}")
            key_value = 'UCI'
        else:
            key_value = 'PS'
    
    matching_row = df_station[df_station['Key'] == key_value]
    if not matching_row.empty:
        stn_values.append(f"{matching_row['Order'].values[0]:03}")
    else:
        stn_values.append(np.nan)

df_status['Stn'] = stn_values

UC encontrado, cambiando a UCI en fila 7891
UC encontrado, cambiando a UCI en fila 7892
UC encontrado, cambiando a UCI en fila 7893
UC encontrado, cambiando a UCI en fila 7894
UC encontrado, cambiando a UCI en fila 7895
UC encontrado, cambiando a UCI en fila 7896
UC encontrado, cambiando a UCI en fila 7897
UC encontrado, cambiando a UCI en fila 7898
UC encontrado, cambiando a UCI en fila 7899
UC encontrado, cambiando a UCI en fila 7900
UC encontrado, cambiando a UCI en fila 7901
UC encontrado, cambiando a UCI en fila 7902
UC encontrado, cambiando a UCI en fila 7903
UC encontrado, cambiando a UCI en fila 7904
UC encontrado, cambiando a UCI en fila 7905
UC encontrado, cambiando a UCI en fila 7906
UC encontrado, cambiando a UCI en fila 7907
UC encontrado, cambiando a UCI en fila 7908
UC encontrado, cambiando a UCI en fila 7909
UC encontrado, cambiando a UCI en fila 7910
UC encontrado, cambiando a UCI en fila 7911
FP encontrado, cambiando a FSP en fila 7912
FP encontrado, cambiando a FSP en fila 7913
FP encontrado, cambiando a FSP en fila 7914
FP encontrado, cambiando a FSP en fila 7915
FP encontrado, cambiando a FSP en fila 7916
FP encontrado, cambiando a FSP en fila 7917
FP encontrado, cambiando a FSP en fila 7918
FP encontrado, cambiando a FSP en fila 7919
FP encontrado, cambiando a FSP en fila 7920
FP encontrado, cambiando a FSP en fila 7921
FP encontrado, cambiando a FSP en fila 7922
FP encontrado, cambiando a FSP en fila 7923
FP encontrado, cambiando a FSP en fila 7924
FP encontrado, cambiando a FSP en fila 7925
FP encontrado, cambiando a FSP en fila 7926
FP encontrado, cambiando a FSP en fila 7927
FP encontrado, cambiando a FSP en fila 7928
FP encontrado, cambiando a FSP en fila 7929
FP encontrado, cambiando a FSP en fila 7930
FP encontrado, cambiando a FSP en fila 7931
FP encontrado, cambiando a FSP en fila 7932

In [343]:
count_054 = df_status['Stn'].value_counts().get('055', 0)
print(f"El conteo de '055' (PS) en la columna 'Stn' es: {count_054}")

El conteo de '055' (PS) en la columna 'Stn' es: 191

In [344]:
df_status['Stn'].value_counts()

Stn
014    314
019    313
031    275
001    273
069    257
      ...
075      3
048      3
071      1
044      1
059      1
Name: count, Length: 73, dtype: int64

In [345]:
df_status.head(20)

,record,OrderNo,Type,Name,AOR,pState,Norm,AlarmGroup,ICAddress,pDeviceInstance,Stn
0,1,1,1,MOBIL TX HOT OIL TEMP,4,8,0,1,"""""",1,016
1,2,2,1,PH DIFF RELAY DISABLE,5,5,0,1,"""""",2,025
2,3,3,1,BW 2100-1 ALARM COM 9,4,26,0,1,"""""",3,015
3,4,4,5,SB PSEUDO BREAKER,1,15,0,1,"""""",4,055
4,5,5,1,YARD BOX 2505 SELF CHECK,5,26,0,1,"""""",5,025
5,6,6,5,MI FAST SCAN,3,25,0,1,"""""",6,011
6,7,7,1,MI BKR 4 LOC/REM SW,3,13,0,1,"""""",7,011
7,8,8,1,PH BKR 3 LOC/REM SW,5,13,0,1,"""""",8,025
8,9,9,5,GREEN COVE FAST SCAN,4,25,0,1,"""""",6,022
9,10,10,5,BC FAST SCAN,4,25,0,1,"""""",6,007
10,11,11,1,311C-2 CP21 (MBIT),3,26,0,1,"""""",9,051
11,12,12,1,BRK 2 BKR FAIL,5,19,0,1,"""""",10,021
12,13,13,1,LY TX1 TANK HI OIL,7,10,0,1,"""""",11,042
13,14,14,1,LY TX1 2411 ALARMS COMM,7,26,0,1,"""""",12,042
14,15,15,1,DIFF PROT DISABLE SW STA,5,5,0,1,"""""",2,021
15,16,16,2,GREEN COVE BKR 1,4,1,0,1,"""""",13,022
16,17,17,2,GREEN COVE BKR 1 RECL,4,4,0,1,"""""",14,022
17,18,18,2,GC 1 GRND TRIP BLOCK,4,21,0,1,"""""",15,022
18,19,19,1,GC BKR 1 STA COM,4,26,0,1,"""""",16,022
19,20,20,1,GC BKR 1 LOC/REM SW,4,13,0,1,"""""",17,022

Replacement case: Pseudo Points.
IF stn = 054 (PS. Pseudo points.) Set type to 8 .   And then set XX Value to 12

In [346]:
df_status.loc[df_status['Name'].str.startswith("PS"), 'Type'] = 8

for i in range(len(df_status)):
    if df_status.loc[i, 'Stn'] == '054':
        key_to_search = df_status.loc[i, 'Name'][3:5]

        # Buscar valor 
        matching_row = df_station[df_station['Key'] == key_to_search]

        # != una fila correspondiente, 'Stn' en 'df_status'
        if not matching_row.empty:
            df_status.loc[i, 'Stn'] = f"{matching_row['Order'].values[0]:03}"

# KEY

In [347]:
key_values = []
xx_yyy_counters = {}  # creating a dict to store and count every YYY. It's used for a incremental ZZZ

In [348]:
df_status['Type'].value_counts()

Type
1    5065
2    1440
8    1373
5     467
6     115
3       4
Name: count, dtype: int64

In [349]:
for i in range(len(df_status)):
    
    if df_status.loc[i, 'Type'] == 2:
        xx = '01'
    elif df_status.loc[i, 'Type'] == 3:
        xx = '41'
    elif df_status.loc[i, 'Type'] == 6:
        xx = '41'
    elif df_status.loc[i, 'Type'] == 1:
        xx = '01'
    elif df_status.loc[i, 'Type'] == 5:
        xx = '02'
    elif df_status.loc[i, 'Type'] == 8:
        xx = '12'
    else:
        xx = '99'  # ERROR CASE . In case of being unable to find a coincidence.

    yyy = df_status.loc[i, 'Stn']

    # combination
    key = xx + yyy

    # if key exists in counters, then add +1 , else, initialites it.
    if key in xx_yyy_counters:
        xx_yyy_counters[key] += 1
    else:
        xx_yyy_counters[key] = 1

    #   Current Value of ZZZ . 
    zz = f"{xx_yyy_counters[key]:03}"  #03 (Default). the number of Z in the format (default XX YYY ZZZ (3 Z))

    key_values.append(xx + yyy + zz)

In [350]:
df_status['Key'] = key_values

In [351]:
#obtaining and showing the counting of Types.
type_counts = df_status['Type'].value_counts()
print(type_counts)

Type
1    5065
2    1440
8    1373
5     467
6     115
3       4
Name: count, dtype: int64

In [352]:
df_status

,record,OrderNo,Type,Name,AOR,pState,Norm,AlarmGroup,ICAddress,pDeviceInstance,Stn,Key
0,1,1,1,MOBIL TX HOT OIL TEMP,4,8,0,1,"""""",1,016,01016001
1,2,2,1,PH DIFF RELAY DISABLE,5,5,0,1,"""""",2,025,01025001
2,3,3,1,BW 2100-1 ALARM COM 9,4,26,0,1,"""""",3,015,01015001
3,4,4,5,SB PSEUDO BREAKER,1,15,0,1,"""""",4,055,02055001
4,5,5,1,YARD BOX 2505 SELF CHECK,5,26,0,1,"""""",5,025,01025002
...,...,...,...,...,...,...,...,...,...,...,...,...
8459,8460,8460,8,PSUEDO SWITCH,10,15,0,1,"""""",3256,032,12032018
8460,8461,8461,5,FL LOW SD BUS TIE 3T12,10,15,0,1,"""""",3257,032,02032015
8461,8462,8462,5,FL LOW SD BUS TIE 3T21,10,15,0,1,"""""",3258,032,02032016
8462,8463,8463,5,FL XFR BUS TIE 3X12,10,15,0,1,"""""",3259,032,02032017
8463,8464,8464,5,TX2 LTC MET PT 3P21,4,15,0,1,"""""",3260,032,02032018

In [353]:
new_order = ['record', 'OrderNo','Type','Key','Name','Stn','AOR','pState','Norm','AlarmGroup','ICAddress','pDeviceInstance']
df_status = df_status[new_order]

In [354]:
df_status

,record,OrderNo,Type,Key,Name,Stn,AOR,pState,Norm,AlarmGroup,ICAddress,pDeviceInstance
0,1,1,1,01016001,MOBIL TX HOT OIL TEMP,016,4,8,0,1,"""""",1
1,2,2,1,01025001,PH DIFF RELAY DISABLE,025,5,5,0,1,"""""",2
2,3,3,1,01015001,BW 2100-1 ALARM COM 9,015,4,26,0,1,"""""",3
3,4,4,5,02055001,SB PSEUDO BREAKER,055,1,15,0,1,"""""",4
4,5,5,1,01025002,YARD BOX 2505 SELF CHECK,025,5,26,0,1,"""""",5
...,...,...,...,...,...,...,...,...,...,...,...,...
8459,8460,8460,8,12032018,PSUEDO SWITCH,032,10,15,0,1,"""""",3256
8460,8461,8461,5,02032015,FL LOW SD BUS TIE 3T12,032,10,15,0,1,"""""",3257
8461,8462,8462,5,02032016,FL LOW SD BUS TIE 3T21,032,10,15,0,1,"""""",3258
8462,8463,8463,5,02032017,FL XFR BUS TIE 3X12,032,10,15,0,1,"""""",3259
8463,8464,8464,5,02032018,TX2 LTC MET PT 3P21,032,4,15,0,1,"""""",3260

In [355]:
df_status['Key'] = '"'+ df_status['Key'].str.rstrip() + '"'

In [356]:
df_status['Name'] = '"'+ df_status['Name'].str.rstrip() + '"'

In [357]:
df_status

,record,OrderNo,Type,Key,Name,Stn,AOR,pState,Norm,AlarmGroup,ICAddress,pDeviceInstance
0,1,1,1,"""01016001""","""MOBIL TX HOT OIL TEMP""",016,4,8,0,1,"""""",1
1,2,2,1,"""01025001""","""PH DIFF RELAY DISABLE""",025,5,5,0,1,"""""",2
2,3,3,1,"""01015001""","""BW 2100-1 ALARM COM 9""",015,4,26,0,1,"""""",3
3,4,4,5,"""02055001""","""SB PSEUDO BREAKER""",055,1,15,0,1,"""""",4
4,5,5,1,"""01025002""","""YARD BOX 2505 SELF CHECK""",025,5,26,0,1,"""""",5
...,...,...,...,...,...,...,...,...,...,...,...,...
8459,8460,8460,8,"""12032018""","""PSUEDO SWITCH""",032,10,15,0,1,"""""",3256
8460,8461,8461,5,"""02032015""","""FL LOW SD BUS TIE 3T12""",032,10,15,0,1,"""""",3257
8461,8462,8462,5,"""02032016""","""FL LOW SD BUS TIE 3T21""",032,10,15,0,1,"""""",3258
8462,8463,8463,5,"""02032017""","""FL XFR BUS TIE 3X12""",032,10,15,0,1,"""""",3259
8463,8464,8464,5,"""02032018""","""TX2 LTC MET PT 3P21""",032,4,15,0,1,"""""",3260

In [358]:
df_status['pState'] = df_status['pState'].astype(int)
df_status['pState'] = df_status['pState'] + 201

In [359]:
df_status

,record,OrderNo,Type,Key,Name,Stn,AOR,pState,Norm,AlarmGroup,ICAddress,pDeviceInstance
0,1,1,1,"""01016001""","""MOBIL TX HOT OIL TEMP""",016,4,209,0,1,"""""",1
1,2,2,1,"""01025001""","""PH DIFF RELAY DISABLE""",025,5,206,0,1,"""""",2
2,3,3,1,"""01015001""","""BW 2100-1 ALARM COM 9""",015,4,227,0,1,"""""",3
3,4,4,5,"""02055001""","""SB PSEUDO BREAKER""",055,1,216,0,1,"""""",4
4,5,5,1,"""01025002""","""YARD BOX 2505 SELF CHECK""",025,5,227,0,1,"""""",5
...,...,...,...,...,...,...,...,...,...,...,...,...
8459,8460,8460,8,"""12032018""","""PSUEDO SWITCH""",032,10,216,0,1,"""""",3256
8460,8461,8461,5,"""02032015""","""FL LOW SD BUS TIE 3T12""",032,10,216,0,1,"""""",3257
8461,8462,8462,5,"""02032016""","""FL LOW SD BUS TIE 3T21""",032,10,216,0,1,"""""",3258
8462,8463,8463,5,"""02032017""","""FL XFR BUS TIE 3X12""",032,10,216,0,1,"""""",3259
8463,8464,8464,5,"""02032018""","""TX2 LTC MET PT 3P21""",032,4,216,0,1,"""""",3260

# DATASET Status ready.

The program will create a csv version of the Status Dataframe edited and builded here . Intended to be mixed with the original datasource "Status.csv". The name for this csv is gonna be "Status_xref.csv"

Columnas utilizadas de Status.csv(Datasource):
'Telem_A  ','Open_B  ','Stn  ', 'PreSuffx  ', 'Name  ','Desc  ', 'Zones  ', 'Presuffx  ', 'Normal_State  ', 'Open_A  ', 'Close_A  ', 
Columnas del objeto construido como dataframe 'Status':
TODAS las columnas generadas 

Crear status_xref.csv

In [360]:


columnas_seleccionadas = [
    'Telem_A  ','Open_B  ','PreSuffx  ', 'Name  ','Desc  ', 'Zones  ', 'Normal_State  ', 'Open_A  ', 'Close_A  '  
]


source_status_df = pd.read_csv('Status.csv', usecols=columnas_seleccionadas)

In [361]:
source_status_df

,Name,Desc,Zones,PreSuffx,Telem_A,Open_A,Open_B,Close_A,Normal_State
0,"OP,MTXTOT",MOBIL TX HOT OIL TEMP,4,8,8,,,,0
1,"PH,DRD",PH DIFF RELAY DISABLE,5,5,1,,,,0
2,"BW,35C109",BW 2100-1 ALARM COM 9,4,26,4,,,,0
3,"PS,S8W219",SB PSEUDO BREAKER,1,15,,,,,0
4,"PH,25YBSC",YARD BOX 2505 SELF CHECK,5,26,1,,,,0
...,...,...,...,...,...,...,...,...,...
8459,"PS,FL3103",PSUEDO SWITCH,1 2 3 4 5 6 7 8,15,,,,,0
8460,"PS,FL3T12",FL LOW SD BUS TIE 3T12,1 2 3 4 5 6 7 8,15,,,,,0
8461,"PS,FL3T21",FL LOW SD BUS TIE 3T21,1 2 3 4 5 6 7 8,15,,,,,0
8462,"PS,FL3X12",FL XFR BUS TIE 3X12,1 2 3 4 5 6 7 8,15,,,,,0
8463,"PS,FL3P21",TX2 LTC MET PT 3P21,4,15,,,,,0

# OUTPUT TO DAT FILE :

In [362]:
folder_name = "SCADA_DAT_FILES"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [363]:
output_status_name = 'status_dat.dat'

In [364]:
statusfilename = os.path.join(folder_name, output_status_name)

In [365]:
with open(statusfilename, 'w') as f:
    f.write('*\n')
    f.write('\t4\tSTATUS\t0\t1\t3\t4\t5\t10\t19\t49\t29\t41\t107\n')
    f.write('*\trecord\tOrderNo\tType\tKey\tName\tStn\tAOR\tpState\tNorm\tAlarmGroup\tICAddress\tpDeviceInstance\n')

    for index, row in df_status.iterrows():
        f.write("{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\n".format
                (row['record'], row['OrderNo'], row['Type'], row['Key'], row['Name'], row['Stn'], row['AOR'], row['pState'], row['Norm'], row['AlarmGroup'], row['ICAddress'], row['pDeviceInstance']))
    f.write("0")

# STATUS XREF CREATION

In [366]:

columnas_seleccionadas = [
    'Telem_A  ','Open_B  ','PreSuffx  ', 'Name  ','Desc  ', 'Zones  ', 'Normal_State  ', 'Open_A  ', 'Close_A  '  
]


source_status_df = pd.read_csv('Status.csv', usecols=columnas_seleccionadas)
source_status_df = source_status_df.rename(columns={'Name  ': 'Name_Status_Source  '})
source_status_df.reset_index(drop=True, inplace=True)
df_status.reset_index(drop=True, inplace=True)
combined_df = pd.concat([df_status, source_status_df], axis=1)
combined_df.to_csv('status_xref.csv', index=False)

# END STATUS

-------------------------------

# ANALOG

Description: This script takes in a file named Analog.csv(default) , recognizes its information and interprets the columns. Finally prints and save a Dat format file with the predefined tables for further processing

ANALOG Data conversion REFERENCE :

 Type (1) :  Columns : 
 ///
 
            IF Telem_B  !=  21  . T_ANLG  = type : 1

        IF Telem_RTU = blank .   C_ANLG =  Type : 2

        IF NOT Defined. Manual = Type: 3 

* CRITERIA: 100% of the Telem_B column is different from 21, while 40% of the Telem_RTU column is blank. To prioritize visibility of Telem_RTU in case of conflict, the priority will be given to C_ANLG (Type 2).
    ///


Key (3)   :  XX YYY ZZZ

Name (4)  :  Columns :  Desc . 
                If not defined, set to KEY 

Stn (5)   :  ###  -> The first characters of the "Name" column in the current dataset, before the comma (,), reference the value of the KEY column in the Station dataset. This value has a number based on the Order column. This number should be expressed in three digits (e.g., 38 = 038).

AOR (10)  :   Column Zones in Analog.csv

pScale (24): Column EU_HI in Analog.csv

AlarmGrp  (42)  :  Set to default: 1

ICAddress (66)  : 12/29 : Value : "". If this is Nan or 0 , it will raise an error.
______________________________________
NominalHiLimits (77,1)

NominalHiLimits (77,2)

NominalHiLimits (77,3)

NominalHiLimits (77,4):  column * Alm_unrHi * in Analog.csv , named in this df:  Nominal_HiLim

 *Edited:  NominalHiLimits (77,4): RENAMED TO HiLim[1]  (Rsnblty)

NominalLowLimits (78,1)

NominalLowLimits (78,2)

NominalLowLimits (78,3)

NominalLowLimits (78,4):  column Alm_unrLo in Analog.csv  , named in this df: Nominal_LoLim

 *Edited: RENAMED TO LoLim[1]   (Rsnblty)

 ADDED:NominalHiLimits (77,0): Column Alm_preHi in Analog.csv, named in this df: HiLim[0]    (High)

 ADDED:NominalLowLimits (78,0): Colum Alm_preLo in Analog.csv, named in this df: LoLim[0]    (Low)
 

 RG 9/14: There are three cases. 

1. Hi limits are present but Lo are empty

If Alm_preHi, Alm_emgHi, Alm_unrHi have values but  Alm_preLo, Alm_emgLo, Alm_unrLo  are empty then set 78,0 to -99995 , 78,1 to -99996, 78,4 to -99999  and follow cells H89 and H90

2. Lo limits are present but Hi are empty

If Alm_preLo, Alm_emgLo, Alm_unrLo have values but Alm_preHi, Alm_emgHi, Alm_unrHi are empty then set 77,0 to 99995 , 77,1 to 99996, 77,4 to 99999  and follow cells H91 and H92

3. Hi and Lo limits are present. 

Follow indications of column H89, H90, H91 and H92
Put the actual values presents.

4. Hi and Lo are empty. Set 77,4 to 999999 and 78,4 -999999 , set 77,1 and 77,2 and 78,1 and 78,2 to 0.


_____________________________________

NominalPairInactive (91) : RG 9/14: For cases 1,2 and 3 of cell I89 set to 0 the 91,1 and 91,2 and 91,3  , and set to 1 the  91,4 and 91,5 .

91,1 91,2 91,3 . 91,4 91,5 



New item:

RawCountFormat (54) : Assign "5"

In [367]:
#Data CSV Name entry
analog_file = "Analog.csv"

las condiciones para el llenado de las columnas son las siguientes :

1. Hi limits are present but Lo are empty:

If 'Alm_preHi  ', 'Alm_emgHi  ', 'Alm_unrHi  '(columnas encontradas dentro de df_analog)  have values but  'Alm_preLo  ', 'Alm_emgLo  ', 'Alm_unrLo  '(columnas encontradas dentro de df_analog)  are empty , then set Alm_preLo (de df_new) to -99995 , 78,1(crear esta columna) to -99996, 78,4(crear esta columna) to -99999  

Condicion 2:
2. Lo limits are present but Hi are empty

If 'Alm_preLo  ', 'Alm_emgLo  ', 'Alm_unrLo  '(columnas de df_analog)  have values but 'Alm_preHi  ', 'Alm_emgHi  ', 'Alm_unrHi  ' are empty then set Alm_preHi(de df_new) to 99995 , 77,1(crear esta columna) to 99996, 77,4(crear esta columna ) to 99999 

Condicion 3:
3. Hi and Lo limits are present. 

Tomar los valores presentes en df_analog para las columnas 'Alm_preHi  ', 'Alm_unrHi  ' y 'Alm_preLo  ', 'Alm_unrLo  ' y asignarlos a las columnas 'Alm_preHi', 'Alm_unrHi' y 'Alm_preLo', 'Alm_unrLo' de df_new.

In [368]:
df_analog = pd.read_csv(analog_file)

df_new = pd.DataFrame()
df_new['record'] = range(1, len(df_analog)+1) 
df_new['OrderNo'] = range(1, len(df_analog)+1) 


df_new['Type'] = 1

count_type_3 = 0

for index, row in df_analog.iterrows():
    name = row['Name  ']
    telem_rtu = row['Telem_RTU  ']

    # Primera condición: si 'Name' contiene 'PS' en los primeros 4 caracteres
    if 'PS' in name[:4]:
        df_new.at[index, 'Type'] = 3
        count_type_3 += 1
        continue  # Saltar a la siguiente iteración

    # Segunda condición: si 'Telem_RTU' es igual a dos espacios en blanco
    if telem_rtu == "  ":
        df_new.at[index, 'Type'] = 2

# Las demás columnas

df_new['Name'] = df_analog['Desc  ']
df_new['AOR'] = df_analog['Zones  ']
df_new['AlarmGrp'] = 1
df_new['ICAddress'] = ''

print(f"'Type' = 3: {count_type_3}")

'Type' = 3: 32

HI LOW LIMITS

In [369]:

for col in ['77,0', '77,1', '77,2', '77,3', '77,4', '78,0', '78,1', '78,2', '78,3', '78,4']:
    df_new[col] = 0  

for col in ['91,1', '91,2', '91,3', '91,4', '91,5']:
    df_new[col] = np.nan


    # SE PRUEBA LO SIGUIENTE:
# Mapeo entre las columnas en df_analog y las columnas en df_new
column_mapping = {
    'Alm_emgHi  ': '77,1',
    'Alm_preHi  ': '77,0',
    'Alm_unrHi  ': '77,4',
    'Alm_preLo  ': '78,0',
    'Alm_emgLo  ': '78,1',
    'Alm_unrLo  ': '78,4',
}

# Aplicar las condiciones y asignar los valores
for analog_col, new_col in column_mapping.items():
    # Crear una máscara para identificar las filas donde el valor no es "0  " o es no nulo
    mask = (df_analog[analog_col] != "0  ") & (df_analog[analog_col].notna())
    # Asignar el valor de la columna en df_analog a la columna correspondiente en df_new
    df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]



    #####

# Condición 1:
mask1 = (
    df_analog[['Alm_preHi  ', 'Alm_emgHi  ', 'Alm_unrHi  ']].notna().any(axis=1) &
    df_analog[['Alm_preLo  ', 'Alm_emgLo  ', 'Alm_unrLo  ']].isin(["0  ", "  "]).all(axis=1)
)
df_new.loc[mask1, '78,0'] = -999995
df_new.loc[mask1, '78,1'] = -999996
df_new.loc[mask1, '78,4'] = -999999
df_new.loc[mask1, ['91,1', '91,2', '91,3']] = 0
df_new.loc[mask1, ['91,4', '91,5']] = 1


# Condición 2:
mask2 = (
    df_analog[['Alm_preLo  ', 'Alm_emgLo  ', 'Alm_unrLo  ']].notna().any(axis=1) &
    df_analog[['Alm_preHi  ', 'Alm_emgHi  ', 'Alm_unrHi  ']].isin(["0  ", "  "]).all(axis=1)
)
df_new.loc[mask2, '77,0'] = 999995
df_new.loc[mask2, '77,1'] = 999996
df_new.loc[mask2, '77,4'] = 999999
df_new.loc[mask2, ['91,1', '91,2', '91,3']] = 0
df_new.loc[mask2, ['91,4', '91,5']] = 1


# Condición 3:
df_new['77,0'] = df_analog['Alm_preHi  ']
df_new['77,4'] = df_analog['Alm_unrHi  ']
df_new['78,1'] = df_analog['Alm_emgLo  ']
df_new['78,4'] = df_analog['Alm_unrLo  ']
df_new.loc[df_new['77,0'].notna() | df_new['78,1'].notna(), ['91,1', '91,2', '91,3']] = 0
df_new.loc[df_new['77,0'].notna() | df_new['78,1'].notna(), ['91,4', '91,5']] = 1


# Condición 4:
mask4 = (
    df_analog[['Alm_preHi  ', 'Alm_emgHi  ', 'Alm_unrHi  ', 'Alm_preLo  ', 'Alm_emgLo  ', 'Alm_unrLo  ']].isin(["0  ", "  "]).all(axis=1)
)
df_new.loc[mask4, '77,4'] = 999999
df_new.loc[mask4, '78,4'] = -999999
df_new.loc[mask4, ['77,1', '77,2', '78,1', '78,2']] = 0

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1918518988.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['450  ' '450  ' '450  ' ... '  ' '  ' '460  ']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1918518988.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['400  ' '400  ' '400  ' ... '  ' '  ' '440  ']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1918518988.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['470  ' '470  ' '470  ' ... '  ' '  ' '480  ']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1918518988.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['-10  ' '-10  ' '-10  ' ... '  ' '  ' '-10  ']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1918518988.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['-20  ' '-20  ' '-20  ' ... '  ' '  ' '-20  ']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1918518988.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['-30  ' '-30  ' '-30  ' ... '  ' '  ' '-30  ']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[mask, new_col] = df_analog.loc[mask, analog_col]

In [370]:
df_new

,record,OrderNo,Type,Name,AOR,AlarmGrp,ICAddress,"77,0","77,1","77,2",...,"78,0","78,1","78,2","78,3","78,4","91,1","91,2","91,3","91,4","91,5"
0,1,1,1,AB W543 A AMPS BKR TRIP,7,1,,400,450,0,...,-10,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0
1,2,2,1,AB W543 B AMPS BKR TRIP,7,1,,400,450,0,...,-10,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0
2,3,3,1,AB W543 C AMPS BKR TRIP,7,1,,400,450,0,...,-10,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0
3,4,4,1,SG WIND SPEED,7,1,,35,74,0,...,-999995,,0,0,,0.0,0.0,0.0,1.0,1.0
4,5,5,2,CHANNEL ONE RETRY COUNT,1,1,,,0,0,...,-999995,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4406,1,WS TX TANK OIL TEMP,5,1,,,0,0,...,-999995,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0
4406,4407,4407,1,DC VOLTS,5,1,,135,136.5,0,...,128.5,126.5,0,0,-10,0.0,0.0,0.0,1.0,1.0
4407,4408,4408,1,WS TX AMBIENT TEMP,5,1,,,0,0,...,-999995,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0
4408,4409,4409,1,WS FDR 1 WATTS,5,1,,,0,0,...,-999995,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0
4409,4410,4410,1,BN BKR 2C AMPS BKR TRIP,3,1,,440,460,0,...,-10,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0

In [371]:
#df_analog['EU_Hi  '] = df_analog['EU_Hi  '].apply(keep_decimal_precision)
df_new['pScale EU_Hi'] = df_analog['EU_Hi  ']

In [372]:
df_new

,record,OrderNo,Type,Name,AOR,AlarmGrp,ICAddress,"77,0","77,1","77,2",...,"78,1","78,2","78,3","78,4","91,1","91,2","91,3","91,4","91,5",pScale EU_Hi
0,1,1,1,AB W543 A AMPS BKR TRIP,7,1,,400,450,0,...,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000
1,2,2,1,AB W543 B AMPS BKR TRIP,7,1,,400,450,0,...,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000
2,3,3,1,AB W543 C AMPS BKR TRIP,7,1,,400,450,0,...,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000
3,4,4,1,SG WIND SPEED,7,1,,35,74,0,...,,0,0,,0.0,0.0,0.0,1.0,1.0,100.0000
4,5,5,2,CHANNEL ONE RETRY COUNT,1,1,,,0,0,...,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4406,1,WS TX TANK OIL TEMP,5,1,,,0,0,...,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000
4406,4407,4407,1,DC VOLTS,5,1,,135,136.5,0,...,126.5,0,0,-10,0.0,0.0,0.0,1.0,1.0,150.0000
4407,4408,4408,1,WS TX AMBIENT TEMP,5,1,,,0,0,...,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000
4408,4409,4409,1,WS FDR 1 WATTS,5,1,,,0,0,...,0,0,0,-999999,0.0,0.0,0.0,1.0,1.0,20470.0000
4409,4410,4410,1,BN BKR 2C AMPS BKR TRIP,3,1,,440,460,0,...,-20,0,0,-30,0.0,0.0,0.0,1.0,1.0,600.0001

# STN

In [373]:
df_analog['Key'] = df_analog['Name  '].str.split(',').str[0].str.strip()

stn_values = []

for i in range(len(df_analog)):
    
    matching_row = df_station[df_station['Key'] == df_analog.loc[i, 'Key']]
    
    if not matching_row.empty:
        stn_values.append(f"{matching_row['Order'].values[0]:03}")
    else:
        stn_values.append(np.nan)
df_new['Stn'] = stn_values

In [374]:
df_new

,record,OrderNo,Type,Name,AOR,AlarmGrp,ICAddress,"77,0","77,1","77,2",...,"78,2","78,3","78,4","91,1","91,2","91,3","91,4","91,5",pScale EU_Hi,Stn
0,1,1,1,AB W543 A AMPS BKR TRIP,7,1,,400,450,0,...,0,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000,005
1,2,2,1,AB W543 B AMPS BKR TRIP,7,1,,400,450,0,...,0,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000,005
2,3,3,1,AB W543 C AMPS BKR TRIP,7,1,,400,450,0,...,0,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000,005
3,4,4,1,SG WIND SPEED,7,1,,35,74,0,...,0,0,,0.0,0.0,0.0,1.0,1.0,100.0000,008
4,5,5,2,CHANNEL ONE RETRY COUNT,1,1,,,0,0,...,0,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4406,1,WS TX TANK OIL TEMP,5,1,,,0,0,...,0,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,003
4406,4407,4407,1,DC VOLTS,5,1,,135,136.5,0,...,0,0,-10,0.0,0.0,0.0,1.0,1.0,150.0000,010
4407,4408,4408,1,WS TX AMBIENT TEMP,5,1,,,0,0,...,0,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,003
4408,4409,4409,1,WS FDR 1 WATTS,5,1,,,0,0,...,0,0,-999999,0.0,0.0,0.0,1.0,1.0,20470.0000,003
4409,4410,4410,1,BN BKR 2C AMPS BKR TRIP,3,1,,440,460,0,...,0,0,-30,0.0,0.0,0.0,1.0,1.0,600.0001,039

# KEY

In [375]:
cols = ['Alm_unrHi', 'Alm_unrLo', 'Alm_preHi', 'Alm_preLo', '78,1', '78,4', '77,1', '77,4']
for col in cols:
    if col not in df_new.columns:
        df_new[col] = np.nan

In [376]:
key_values = []
xx_yyy_counters = {}

In [377]:
for i in range(len(df_new)):
    
    # Asignamos el valor correspondiente a 'XX' según el valor de 'Type'
    if df_new.loc[i, 'Type'] == 1:
        xx = '03'
    elif df_new.loc[i, 'Type'] == 2:
        xx = '04'
    else:
        xx = '99'  # ERROR CASE


    yyy = str(df_new.loc[i, 'Stn'])

    key = xx + yyy

    if key in xx_yyy_counters:
        xx_yyy_counters[key] += 1
    else:
        xx_yyy_counters[key] = 1

    zz = f"{xx_yyy_counters[key]:03}"

    key_values.append(xx + yyy + zz)

df_new['Key'] = key_values

In [378]:
df_new

,record,OrderNo,Type,Name,AOR,AlarmGrp,ICAddress,"77,0","77,1","77,2",...,"91,3","91,4","91,5",pScale EU_Hi,Stn,Alm_unrHi,Alm_unrLo,Alm_preHi,Alm_preLo,Key
0,1,1,1,AB W543 A AMPS BKR TRIP,7,1,,400,450,0,...,0.0,1.0,1.0,1.0000,005,NaN,NaN,NaN,NaN,03005001
1,2,2,1,AB W543 B AMPS BKR TRIP,7,1,,400,450,0,...,0.0,1.0,1.0,1.0000,005,NaN,NaN,NaN,NaN,03005002
2,3,3,1,AB W543 C AMPS BKR TRIP,7,1,,400,450,0,...,0.0,1.0,1.0,1.0000,005,NaN,NaN,NaN,NaN,03005003
3,4,4,1,SG WIND SPEED,7,1,,35,74,0,...,0.0,1.0,1.0,100.0000,008,NaN,NaN,NaN,NaN,03008001
4,5,5,2,CHANNEL ONE RETRY COUNT,1,1,,,0,0,...,0.0,1.0,1.0,1.0000,038,NaN,NaN,NaN,NaN,04038001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4406,1,WS TX TANK OIL TEMP,5,1,,,0,0,...,0.0,1.0,1.0,1.0000,003,NaN,NaN,NaN,NaN,03003036
4406,4407,4407,1,DC VOLTS,5,1,,135,136.5,0,...,0.0,1.0,1.0,150.0000,010,NaN,NaN,NaN,NaN,03010037
4407,4408,4408,1,WS TX AMBIENT TEMP,5,1,,,0,0,...,0.0,1.0,1.0,1.0000,003,NaN,NaN,NaN,NaN,03003037
4408,4409,4409,1,WS FDR 1 WATTS,5,1,,,0,0,...,0.0,1.0,1.0,20470.0000,003,NaN,NaN,NaN,NaN,03003038
4409,4410,4410,1,BN BKR 2C AMPS BKR TRIP,3,1,,440,460,0,...,0.0,1.0,1.0,600.0001,039,NaN,NaN,NaN,NaN,03039042

In [379]:
#df_new = df_new[['record', 'OrderNo','Type', 'Key', 'Name', 'Stn', 'AOR', 'Nominal_HiLim', 'Nominal_HiLim1', 'Nominal_LoLim', 'Nominal_LoLim1', 'pScale EU_Hi', 'AlarmGrp']].copy()
#df_new['ICAddress'] = "NaN"

df_ner['NominalPairInactive']

In [380]:

new_column_order = ['record', 'OrderNo', 'Type', 'Key', 'Name', 'Stn', 'AOR',
                    '77,0', '77,1', '77,2', '77,3', '77,4',
                    '78,0', '78,1', '78,2', '78,3', '78,4',
                    '91,1', '91,2', '91,3', '91,4', '91,5',
                    'pScale EU_Hi', 'AlarmGrp', 'ICAddress']


df_new = df_new[new_column_order]

In [381]:
df_new['77,1'].head(10)

0     450
1     450
2     450
3      74
4         0
5         0
6    999996
7         0
8         0
9         0
Name: 77,1, dtype: object

In [382]:
df_new['Key'] = '"'+ df_new['Key'].str.rstrip() + '"'
df_new['Name'] = '"'+ df_new['Name'].str.rstrip() + '"'

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/820790713.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Key'] = '"'+ df_new['Key'].str.rstrip() + '"'
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/820790713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Name'] = '"'+ df_new['Name'].str.rstrip() + '"'

In [383]:
df_new.loc[df_new['77,4'] == 0, '77,4'] = 999999
df_new.loc[df_new['77,4'] == '  ', '77,4'] = 999999

df_new.loc[df_new['77,1'] == 0, '77,1'] = 999996
df_new.loc[df_new['77,1'] == '  ', '77,1'] = 999996

df_new.loc[df_new['77,0'] == 0, '77,0'] = 999995
df_new.loc[df_new['77,0'] == '  ', '77,0'] = 999995

#df_new.loc[df_new['78,0'] == 0, '78,0'] = -999995
df_new.loc[df_new['78,0'] == '  ', '78,0'] = -999995

df_new.loc[df_new['78,1'] == 0, '78,1'] = -999996
df_new.loc[df_new['78,1'] == '  ', '78,1'] = -999996

df_new.loc[df_new['78,4'] == 0, '78,4'] = -999999
df_new.loc[df_new['78,4'] == '  ', '78,4'] = -999999

In [384]:
borrador = """df_new['77,4'] = df_new['77,4'].replace({0: 999999, '  ': 999999})
df_new['77,1'] = df_new['77,1'].replace({0: 999996, '  ': 999996})
df_new['77,0'] = df_new['77,0'].replace({0: 999995, '  ': 999995})
df_new['78,0'] = df_new['78,0'].replace({0: -999995, '  ': -999995})
df_new['78,1'] = df_new['78,1'].replace({0: -999996, '  ': -999996})
df_new['78,4'] = df_new['78,4'].replace({0: -999999, '  ': -999999})"""

In [385]:
#df_analog['Alm_preLo  '].to_csv('borrrrar.csv')

In [386]:
df_analog['Alm_preLo  '] = df_analog['Alm_preLo  '].astype(str).str.strip()
df_new['78,0'] = df_new['78,0'].astype(str).str.strip()

# Encontrar las filas donde 'Alm_preLo' es '0' y la columna 78,0 es '-999995'
mask = (df_analog['Alm_preLo  '] == '0  ') & (df_new['78,0'] == '-999995')

# Copiar los valores de 'Alm_preLo' a la columna 78.0 en las filas correspondientes
df_new.loc[mask, '78,0'] = df_analog.loc[mask, 'Alm_preLo  ']

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1392638317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['78,0'] = df_new['78,0'].astype(str).str.strip()

In [387]:
df_new.head(10)

,record,OrderNo,Type,Key,Name,Stn,AOR,"77,0","77,1","77,2",...,"78,3","78,4","91,1","91,2","91,3","91,4","91,5",pScale EU_Hi,AlarmGrp,ICAddress
0,1,1,1,"""03005001""","""AB W543 A AMPS BKR TRIP""",005,7,400,450,0,...,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000,1,
1,2,2,1,"""03005002""","""AB W543 B AMPS BKR TRIP""",005,7,400,450,0,...,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000,1,
2,3,3,1,"""03005003""","""AB W543 C AMPS BKR TRIP""",005,7,400,450,0,...,0,-30,0.0,0.0,0.0,1.0,1.0,1.0000,1,
3,4,4,1,"""03008001""","""SG WIND SPEED""",008,7,35,74,0,...,0,-999999,0.0,0.0,0.0,1.0,1.0,100.0000,1,
4,5,5,2,"""04038001""","""CHANNEL ONE RETRY COUNT""",038,1,999995,999996,0,...,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,1,
5,6,6,2,"""04038002""","""KH TX1 KVA AVERAGE""",038,1,999995,999996,0,...,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,1,
6,7,7,1,"""03017001""","""ALACHUA TX2 ACCUMULATOR""",017,5,999995,999996,0,...,0,-10,0.0,0.0,0.0,1.0,1.0,3.6234,1,
7,8,8,2,"""04023001""","""LC BRK 4 AMP TOTAL""",023,3,999995,999996,0,...,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,1,
8,9,9,2,"""04030001""","""CHANNEL SIX RETRY COUNT""",030,7,999995,999996,0,...,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,1,
9,10,10,2,"""04041001""","""ME BRK 1 AMP TOTAL""",041,1 2 3 4 5 6 7 8,999995,999996,0,...,0,-999999,0.0,0.0,0.0,1.0,1.0,1.0000,1,

In [388]:
df_new['AOR'] = df_new['AOR'].str.replace(r'\s+', '', regex=True)

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/543210088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['AOR'] = df_new['AOR'].str.replace(r'\s+', '', regex=True)

In [389]:
# Crear un diccionario que mapee los valores actuales a los valores de reemplazo
replacement_dict = {
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '1234567': 9,
    '12345678': 10,
    '28': 11,
    '78': 12,
    '12': 13,
    '14': 14,
    '34': 15,
    '38': 16
}

# Reemplazar los valores en la columna 'AOR' usando el diccionario de reemplazo
df_new['AOR'] = df_new['AOR'].replace(replacement_dict)

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/2453514998.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['AOR'] = df_new['AOR'].replace(replacement_dict)

In [390]:
df_new['78,1'] = df_new['78,1'].replace({'0  ': -999996})
df_new['78,4'] = df_new['78,4'].replace({'0  ': -999999})

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1558125795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['78,1'] = df_new['78,1'].replace({'0  ': -999996})
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/1558125795.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['78,4'] = df_new['78,4'].replace({'0  ': -999999})

In [391]:
def modificar_type(fila):
    if fila['Name'].startswith('"PS'):
        return 3
    else:
        return fila['Type']
df_new['Type'] = df_new.apply(modificar_type, axis=1)

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/659747593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Type'] = df_new.apply(modificar_type, axis=1)

In [392]:
#df_new.to_csv('borrardf_new.csv', index=False)

In [393]:
filas_con_ps = df_new[df_new['Name'].str.startswith('"PS')]

# Contamos el número de filas
numero_de_filas = len(filas_con_ps)

print("Número de filas que comienzan con 'PS':", numero_de_filas)

Número de filas que comienzan con 'PS': 0

df_new [punit]

In [394]:


analog_file = "Analog.csv"
df_analog = pd.read_csv(analog_file)


df_unit = pd.DataFrame()
df_unit['name'] = df_analog['EuText  '].drop_duplicates(keep='first').reset_index(drop=True)
df_unit = df_unit[df_unit['name'].notna() & (df_unit['name'].str.strip() != '')]


df_unit['record'] = range(1, len(df_unit['name']) + 1)


unit_mapping = df_unit.set_index('name')['record'].to_dict()
df_new['pUNIT'] = df_analog['EuText  '].map(unit_mapping)
df_new['pUNIT'] = df_new['pUNIT'].apply(lambda x: '""' if pd.isna(x) else str(int(x)))

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/2634846413.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['pUNIT'] = df_analog['EuText  '].map(unit_mapping)
/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/2634846413.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['pUNIT'] = df_new['pUNIT'].apply(lambda x: '""' if pd.isna(x) else str(int(x)))

In [395]:
df_new['pUNIT'].isna().sum()

0

In [396]:
empty_vals = df_new['pUNIT'].isna() | (df_new['pUNIT'] == '""')
num_empty = empty_vals.sum()
print(f'Number of empty values: {num_empty}')

Number of empty values: 155

In [397]:
df_new['pUNIT'].head(6)

0     1
1     1
2     1
3     2
4    ""
5     3
Name: pUNIT, dtype: object

In [398]:
#import csv 
#df_new.to_csv('deletethis.csv', escapechar='\\' ,quoting=csv.QUOTE_NONE)

In [399]:
df_new.loc[:, 'RawCountFormat'] = 5

/var/folders/mj/9v8yq1r92nqcqj3rqh0f2h2h0000gn/T/ipykernel_3846/3233357992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'RawCountFormat'] = 5

In [400]:
df_new

,record,OrderNo,Type,Key,Name,Stn,AOR,"77,0","77,1","77,2",...,"91,1","91,2","91,3","91,4","91,5",pScale EU_Hi,AlarmGrp,ICAddress,pUNIT,RawCountFormat
0,1,1,1,"""03005001""","""AB W543 A AMPS BKR TRIP""",005,7,400,450,0,...,0.0,0.0,0.0,1.0,1.0,1.0000,1,,1,5
1,2,2,1,"""03005002""","""AB W543 B AMPS BKR TRIP""",005,7,400,450,0,...,0.0,0.0,0.0,1.0,1.0,1.0000,1,,1,5
2,3,3,1,"""03005003""","""AB W543 C AMPS BKR TRIP""",005,7,400,450,0,...,0.0,0.0,0.0,1.0,1.0,1.0000,1,,1,5
3,4,4,1,"""03008001""","""SG WIND SPEED""",008,7,35,74,0,...,0.0,0.0,0.0,1.0,1.0,100.0000,1,,2,5
4,5,5,2,"""04038001""","""CHANNEL ONE RETRY COUNT""",038,1,999995,999996,0,...,0.0,0.0,0.0,1.0,1.0,1.0000,1,,"""""",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4406,1,"""03003036""","""WS TX TANK OIL TEMP""",003,5,999995,999996,0,...,0.0,0.0,0.0,1.0,1.0,1.0000,1,,13,5
4406,4407,4407,1,"""03010037""","""DC VOLTS""",010,5,135,136.5,0,...,0.0,0.0,0.0,1.0,1.0,150.0000,1,,5,5
4407,4408,4408,1,"""03003037""","""WS TX AMBIENT TEMP""",003,5,999995,999996,0,...,0.0,0.0,0.0,1.0,1.0,1.0000,1,,13,5
4408,4409,4409,1,"""03003038""","""WS FDR 1 WATTS""",003,5,999995,999996,0,...,0.0,0.0,0.0,1.0,1.0,20470.0000,1,,3,5
4409,4410,4410,1,"""03039042""","""BN BKR 2C AMPS BKR TRIP""",039,3,440,460,0,...,0.0,0.0,0.0,1.0,1.0,600.0001,1,,1,5

Output Filename:

In [401]:
folder_name = "SCADA_DAT_FILES"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [402]:
output_analog_name = 'analog_dat.dat'

In [403]:
analog_filename = os.path.join(folder_name, output_analog_name)

In [404]:
with open(analog_filename, 'w') as f:
    f.write('* \n')
    f.write('\t5\tANALOG\t0\t1\t3\t4\t5\t10\t23\t24\t42\t77,4\t77,1\t77,0\t78,0\t78,1\t78,4\t91,1\t91,2\t91,3\t91,4\t91,5\t66\n')
    f.write('*\trecord\tOrderNo\tType\tKey\tName\tStn\tAOR\tpUNIT\tpScale EU_Hi\tAlarmGrp\t77,4\t77,1\t77,0\t78,0\t78,1\t78,4\tNomPairInactive91,1\t91,2\t91,3\t91,4\t91,5\tICAddress\n')

    for index, row in df_new.iterrows():
        f.write("{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\n".format
                ("", row['record'], row['OrderNo'], row['Type'], row['Key'], row['Name'], row['Stn'], row['AOR'],row['pUNIT'],row['pScale EU_Hi'], row['AlarmGrp'], row['77,4'], row['77,1'], row['77,0'], row['78,0'], row['78,1'], row['78,4'], row['91,1'], row['91,2'], row['91,3'], row['91,4'], row['91,5'], row['ICAddress']))
    f.write("0")

________

________

# ANALOG_CONFIG

vamos a crear un dataframe llamado Analog_config , el cual tendrá solo dos columnas, una columna se llamara Key , cuyo contenido será exactamente el contenido de Key del df  llamado df_new . y una columna se llamara name , que vendra de df_analog['Name  ']

In [405]:

Analog_config = pd.DataFrame({
    'Key': df_new['Key'],
    'name': df_analog['Name  '].str.split(',', expand=True)[1].str.strip()# Obtener los caracteres a partir de la coma
    
})

#df_analog['Name  '].str.split(',', expand=True)[1].str.strip()


# Crear una función para buscar el número en df_device_instance
def find_number(name):
    match = df_device_instance[df_device_instance['Name  '] == name]
    if not match.empty:
        return match.iloc[0]['Number']
    else:
        return None

# Aplicar la función para obtener los números y almacenarlos en Analog_config['pDeviceInstance']
Analog_config['pDeviceInstance'] = Analog_config['name'].apply(find_number)

# Ahora, Analog_config contendrá la columna 'pDeviceInstance' con los números correspondientes.

In [406]:
Analog_config

             Key    name  pDeviceInstance
0     "03005001"   W543A             3261
1     "03005002"   W543B             3262
2     "03005003"   W543C             3263
3     "03008001"  WNDSPD             3264
4     "04038001"      RC             3265
...          ...     ...              ...
4405  "03003036"  TXTEMP             3991
4406  "03010037"     DCV             3290
4407  "03003037"   TXABT             3992
4408  "03003038"     1KW             3432
4409  "03039042"      2C             3296

[4410 rows x 3 columns]

In [407]:
df_device_instance

      Number  Name
0          1  MTXTOT
1          2     DRD
2          3  35C109
3          4  S8W219
4          5  25YBSC
...      ...     ...
4464    4463   CDYTS
4465    4464   PDYTS
4466    4465   CMTTS
4467    4466   PMTTS
4468    4467  P69CHT

[4467 rows x 2 columns]

In [408]:
print(set(Analog_config['name']).intersection(set(df_device_instance['Name  '])))

{'C39TIM', 'PTEST', 'T1', '14', 'SB115', '9KW', 'DVMV', 'RCTAP', 'CMTTST', '11', 'DSPT5', '05', 'PF2A', '155', 'TX3B', 'DSVINT', 'BCT2MW', 'DEFPT1', 'FORCAS', 'L115PH', 'W36C', 'TOTCMT', 'AV1', '6W54AA', '158', '90', '140', 'SYSW10', 'RQSLEV', 'MOBTXW', 'MVAVG', 'TXTMP', '6W51AA', 'C69PM', 'C69PH', 'TX3ABT', 'DEADBD', 'TOLCH', 'G7PFM', 'RG1AVG', 'TX2AT', 'SYSMAX', '6W51CW', '517KW', 'PTRATE', 'SEMLH', 'LTHRES', 'TXTEMP', 'HRTBT4', 'MTXW', '6W57B', 'RRESTP', 'FPLCOI', '148', 'W6208W', 'W543A', 'CTOTCM', '6B', '6W57C', 'BIL1', 'XPERCT', 'TIMDLY', 'GENTNW', '09', 'ADDA', 'STAGE3', 'G2W', 'WA', 'BILLED', '154', 'RCV12', 'W36VAR', 'SEMIW', 'TX2C', 'TUTXWT', 'LTOTCD', '84', 'LCMV1', 'HRTB10', 'PDY1', 'C69CH', 'W37KW', 'HTOFT1', 'RBV2', 'TOTCDY', 'CUSTID', 'PF1M', '97', '102', '3A', 'W686C', '9A', 'LDEADB', 'KWPHR3', '156', '222', 'W35A', '109', '174', '7ADD', 'SYSWT6', 'SYSWT8', '6W56C', 'G1DCV', 'TOLCD', 'KVA1M', '230WAT', 'PF1AVG', 'CDY3', '107', 'CTOTPD', '02', '193', '1ADD', 'W6144C', '002A', 'CPHR', '206', 'SINSNW', 'W36KW', 'SYSW11', 'FPLAVG', '178', 'TX1A', 'BCT1MV', 'LCPLDT', 'TOTMAX', 'SEMPDY', 'C115PH', 'LAMV', 'FPLPT2', 'SYSWT3', '128', 'SBPHW-', 'L115PD', 'MVPOS', '04', 'L115CM', '230PMT', 'W686B', '6W55W', 'RBKV', 'RBTAP', '145', 'CDYTS', 'KV3AVG', '6151CV', 'G7MV', '63', 'ADD1', 'PT-BC', 'CALIT', '200', 'TX1333', 'BT2MVA', 'DSPH', 'SEMINS', '114', 'SEMCMT', 'TX2PDT', 'STAGE1', 'W6205B', '230PHR', 'CHRTST', 'G9PFM', 'TC1TMP', 'KV', 'NBUSW', '6160MV', '227', 'PFMAX', '143', 'WHOFM1', 'SYSWTO', '115CMT', 'ACONFT', 'PHRTS', 'PINS', 'P69CHT', 'SBUSW', '6W57MV', '230CAL', '115CDY', 'W30C', '75', '12', 'DCV', 'TX1PMT', 'L115CH', 'WT', '134', 'WAVG', 'W6208C', '5AVA', 'ADA4', '6164W', 'TOTAL', 'PTST', '23', '86', 'VRT8', 'RDEADB', 'W655BV', 'SBUSWA', '213', '69PMT', 'TXHTSP', 'NBUSWA', '266A', 'W35KW', 'FPLIN2', '138', 'W3AVG', 'PREHRT', 'G13MV', '85', '183', '1001B', '6W56B', 'W543C', 'W534A', '186', 'WNDSPD', 'PHR1', 'WTDIV', '2KWC', '99', 'FGENWT', 'ROF1', 'P', '117', '1A', '230DSV', 'C07TIM', 'PHR', 'DEFINS', 'PHR2', '6KW', 'PFMIN', '69CAL', 'LCTX2W', 'BCT3MW', 'W34A', 'W6208A', 'SINSAV', 'WHASTP', 'DSPT1', 'W6205C', 'REQSH', '181', 'W655C', '115SBP', 'RBTAP1', 'W655PF', '14MUL', 'RAV3', '6W56W', '3KVAR', 'SYSAVG', 'MV1-', 'LCCMT2', 'FPCCOI', 'AV', 'CPDY', 'G4PFM', '210', 'CHRTS', '122', 'TX2FRQ', 'C115PD', 'PMTT', '230CDY', 'KVA3M', 'TX2B', 'CCMT', 'SYSWT9', 'LCTX1W', 'LCP2', 'W537C', 'DATE', 'CHRTOT', '73', 'LCPHR2', '149', '137', 'PF2AVI', 'C115PM', 'CCDY', 'LTOTPM', '120', 'FPLINS', 'T1HST1', 'C69CD', '176', 'RCV2', 'W37VAR', '17', 'ACONT1', 'LCPMT2', '110', 'RQSHED', '2ADD', 'WHTHR', '6W56AA', 'LCTX1B', '6W51C', '1001A', 'G4W', '160', '108', '3B', 'W2AVG', 'MONTH', '162', 'KV2AVG', 'DEFPT2', 'CV2', '201', '171', '228', 'RATAP1', 'PMT2', 'TXATOT', 'HRTB11', '166', 'CP', '6208MV', 'LCPDY1', '93', 'MUL2', 'LEDLAG', 'W6164B', '30', 'WHINT', 'SBWTBU', '187', '21', 'T2HST1', 'CMTT', 'W35KVA', 'PDY3', 'W537B', 'HRAVG1', 'W655B', 'TX3FRQ', 'HTONT1', '185', 'SEMTG', 'FORC', 'RVWBV', 'W35VAR', '5PF', 'SEMIMV', 'W655A', '217', 'FREQ', '205', 'CHR', '231', 'PHRTOT', '9B', '88', 'ACDEAD', '1TOT', '150', 'SYSWT5', '230CHR', 'HRTBT2', 'TIM3', 'TIM4', 'W', '153', 'T2HST2', '71', 'WHSTDS', 'G4MV', 'BV', 'W6160C', 'HOLD1', 'DSPK', 'HTASTP', 'PDYTST', 'W676A', 'SE230C', '6164PF', 'DAYSUB', '173', 'STRAT', '103', '4KW', '6W55CW', 'STPCON', 'TOTPDY', 'TB', '002C', 'SECIPT', '161', 'W6205W', '136', '219', 'W34VAR', 'FPLIW', '6W57A', 'BV1', 'CALI3', 'G6PFM', 'LTC3', 'NOTIFY', 'WHSTR', 'MVAVG2', 'FPLPT1', 'T', 'TOTMTM', 'WBRTRY', 'SPD', 'RCV1', 'XTMOUT', '4PF', 'PMT3', 'BIL3', '58', 'T4HST2', 'KWPHR2', 'G2KVA', 'DSPT4', 'TX1C', 'CCHR', 'PERCTA', '1000C', '115CAL', 'CHR2', 'CTAMP', 'WCALC', 'KVAAVG', 'TARGET', 'ACFOR', '172', '6144PF', '175', 'DAYL', 'W34B', 'SECERR', 'AVCINT', 'LC5KW', '115WAT', 'LCCHR2', 'RACSTP', '195', 'G1KVA', 'STAGE2', 'MUL6', '6PF', 'P12T', '6A', 'SYSTO2', 'RBTAP2', '6W55B', 'PREDYT', 'TX3TMP', '6205MV', '115PMT', 'CHR1', '67', 'BCH3', 'PF2', 'G9W', 'CPMT', '165', '2KVAR', 'SEMCDY', '116', '69CMT', '26', 'W36A', 'PTNEW', 'BCT2MV', 'PTOTNW', 'TX2TMP', 'HOUR', '15', '6W55C', 'W6160B', 'TX3W', 'RG2AVG', 'TOTI', '6W51W', 'TX3A', 'P3', 'SEMCHR', '223', 'WHINI', 'CHRT', 'G1PF', 'SINSCH', '6W55A', 'A517C', '1RAV', 'WHRSTP', '5AVG', '198', '230', 'ADD2', '62', '3PF', 'SMAX', 'G3W', '8B', 'WHP2', 'DEADDB', 'CMTTS', 'CTOTCH', 'W36KVA', 'TOTCH', 'PERCT4', 'DSCM', '61', 'WMIN', 'LCTX2B', '130', '69CDY', 'G2MV', '78', '220', '111', 'MV2', 'TIMOUT', 'DAY-1', 'SYAVG2', '72', 'TOLPH', 'WHSLEV', 'LCMUL2', '1C', 'LCTX1A', 'KHEBV', 'LC4TOT', '6151AV', 'SYSWT7', '127', 'POLER', '22', 'T1HST8', 'KVA2', 'CTOTCD', 'WTOT', 'STAGE', '1000A', '68', 'FPC69', 'DVM', '01', '59', '180', 'MV1AVG', 'RON1', 'LCMV2', 'SYSWT4', '133', '207', 'W36PF', 'DSCD', 'SB230', '6W57CW', '6W54MV', 'W655MV', '81', 'SINSPD', 'W6164A', '4A', 'TEST', 'SPH', 'TOTCHR', 'LMNTFY', 'REGST', 'RAV2', 'PDY', 'ACQSHD', 'T1HST3', 'SYSTO3', 'LCPLMT', '169', 'TXOLVL', 'MV3', 'SECIMW', 'LC2KVA', 'TIMA', 'BYPHW', '218', 'MV1', '8A', '124', 'G1MV', 'G3MV', 'MUL', '5C', '6W51A', '6151PF', 'RINSTP', 'G9MV', '76', 'W37KVA', 'RSTRNM', 'DSPT', 'HRTB12', 'TX1PDT', 'RTUTRI', '113', 'W35PF', '167', 'RCTAP2', 'LC5C', '6W57W', 'SBMVT', '224', 'PF2M', 'WMAX', 'RCKV', 'G13W', 'WHP3', 'YEAR', 'SYS', 'TXA', 'SYSWT2', 'ATAMP', 'HRMAX', 'TXB', 'CTOTPH', 'CALI1', '6W56CW', 'MV3-', 'SINSCM', 'M48', '202', 'LCCMT1', 'BYW', '152', 'ADD3', 'W37A', 'PMT1', 'CDYTST', 'RBV', '131', 'TXABT', '190', 'PF2AVG', '5KW', 'W35B', 'PWF', 'SAVG', 'LCPF1', 'W37PF', 'DSINS', 'PHRT', 'SYSWT1', 'DAY', '9PF', 'PMT', 'SCM', '6144MV', 'FD', 'ACQSL', 'LTC', 'GCMV', 'PHRTST', 'MV2-', 'LC5TOT', '83', '74', '115PDY', '119', 'W655AV', '4U', 'CMT3', '1', 'RINTRV', '139', '203', 'WHSHED', 'W639B', 'WHOTM2', 'W34PF', 'ACREQ', 'HSAV', 'CDYT', 'DVW', 'G2PF', 'TX1ADD', 'SINS', 'BIL2', 'TC3TMP', 'TIM5', 'SYST', '135', '132', 'GENMOD', '13', 'CUSTOD', '6151MV', 'W30B', 'ACINT', '115CHR', '89', 'BTAMP', 'FPLTOT', '6160W', '123', 'CDY1', '6W54A', 'TX1ABT', 'T3HST1', 'LQSLEV', '6W54B', 'W32A', '7PF', 'I1', 'L115CD', 'KVAT', 'DGENWT', '230CMT', '142', 'ACSHED', 'W6160A', '6151W', 'WNDSMP', '6W54W', 'LFRDMD', '196', 'BT3MVA', 'SOEPT', 'WT3', '100', '8C', 'BCT3MV', 'KV1AVG', 'W534B', 'BCT1MW', '131B', 'RVEBV', 'TX2A', 'W6144A', 'KWPHR', '1KVAR', 'BCH5', 'THST3', 'CALITS', '27', '50HT', '199', 'RAV1', 'THST1', '2B', 'W534C', 'RATAP', 'PF', 'MVT', 'C07TRI', 'PF3', 'C69PD', 'PDYTS', 'SCD', 'TXC', 'POLER1', 'ADA5', '16', '1B', '8TOT', 'DSVPHR', '8KW', 'PER', '28', 'ADDB', 'SOEPT2', 'T1HST2', 'PF3A', '2PF', 'RCV3', 'G2DCV', '211', 'G3PFM', 'LCCDY2', 'TOTPMT', 'PF1A', 'CHR3', 'CL', 'TX2-3W', '20', 'WHOF2', 'MOPER', '65', 'RTHRES', '1PF', '6W54AV', 'TX1TMP', '106', '129', 'HRTB13', '3C', 'FPLPT3', 'C115CH', 'HRTBT8', 'RTUTIM', 'WRNGRY', 'HOLD3', '9TOT', 'TOTWAT', 'KVA-LC', 'LINSTP', '03', '72MUL', 'HTREST', 'CALI', 'LTOTCH', 'W655W', 'MV', 'TXCTOT', '2A', 'INSFPL', 'T3WTOT', 'BCH', 'LMSUM', 'W1AVG', 'G8W', '126', 'TOLCM', 'KVA3', '4TOT', 'TX3C', '204', 'HTSTR', 'A517A', 'GENWT', 'TCTEMP', 'PT', '121', 'DSPT2', 'HTRSTP', 'C39TRI', 'TIM', 'RSW', '6W51MV', '6C', '3ADD', 'T3HST2', '06', '168', 'ACTSH', 'SINSCD', 'NOTIF', 'FPLIN1', '115', '31', 'FR', 'LAPHW-', 'HRAVG', 'TOTAVG', '6W57AV', '164', '7KW', '6W55AA', 'RGSTG', 'FPLPT', 'W6205A', '146', '24', '179', '212', 'CHR33', 'MUL3', 'W30A', '115PHR', '6W51B', 'CRTU', 'HSBV', 'BCNBV', 'KVAM', 'TC8TMP', 'SBWT', '18', 'W34KVA', '104', '101', 'W639A', '82', 'MV2AVG', '3TOT', 'TX1PHT', 'W34C', '214', 'RSMV', 'RCV', '77', 'SBPHW', '221', '6W54CW', 'TOLPM', 'CONST', '2TOT', '64', '151', 'ACCFRZ', 'LQSHED', 'ROC', 'PDY2', '6W51AV', 'SE230A', '1001C', 'ALLDAT', 'TXMVT', 'CMT2', 'TIM1', 'PFM', '3KWC', 'C115CM', 'G6W', 'BCPA', '209', '7C', '232', 'HRTBT5', 'FINS', 'LCTX2C', 'ADA2', 'HRTBT6', 'TIM2', '131A', '225', 'CDY2', 'LTOTPD', 'HTONT2', '5TOT', 'KWPHR1', 'W6144B', '4B', 'BUSTOT', 'BYMV', 'SECIPW', 'SYSTOT', 'CDY', 'PGENWT', 'TOLPD', 'ACTHRS', '125', 'CV', '07', 'LC5B', 'HRTBT1', 'W543B', 'COIN', '115NBP', 'W32B', '131C', '6W55MV', 'TX1AMP', 'W35C', 'MV3AVG', 'ACINTS', 'PEAK', 'TC2TMP', 'MUL1', '197', '6205PF', '10', 'LCPMT1', 'DEFIN2', '147', 'THRES', '184', 'PDYT', 'DSPT3', '08', 'BCSBV', '6160PF', 'HRTBT3', 'GCW', '6W57AA', '6W56A', 'SEMAVG', 'G1W', 'TX1FRQ', '0', 'SINSPM', 'SCALER', 'THST2', 'WRONG', 'RON2', '25', 'WHOTM1', 'PFAVG', 'A517B', 'PT60', 'GENTO1', '157', '2C', 'W655CV', 'ROF2', 'CALTST', 'DEFPT', 'CMT1', 'FPL115', 'KVA', 'CONPER', '182', '266C', 'WHDED', 'TX2AMP', 'PF3M', 'TX3ADD', 'SMTM', '92', 'W686A', '60', 'FPCTOT', 'TX2ABT', '7TOT', '194', 'HSCV', 'HTOFT2', '6144W', 'ACOFT2', 'W6151B', '6W131W', '5B', '8PF', 'PT120', '208', 'WHP1', '69CHR', '189', '177', 'BUPMT', 'RBV1', 'BYPHW-', 'DINS', 'G7W', 'SEMPK', 'LTOTPH', '229', 'W34KW', 'LCTX1C', 'PERCT', 'LCPF2', 'CV1', '6208PF', 'W32C', 'LAW', 'DSCH', 'ADA3', 'HRTBT7', 'DEFIN1', 'P1', '66', 'MAX', 'LC4KW', 'LTOTCM', 'PERCT2', '87', 'W6208B', '9C', '1RCV', 'ALTEMP', 'KVA1', '112', '69', '7A', '79', 'LMWIN', '1KWC', 'W639C', 'XBCH', 'FPC115', '19', 'W37C', '215', 'P2', 'LTC1', '29', 'CCALI', 'CMT', 'T2HST3', 'LCCAL2', 'LAPHW', 'TOTCOI', 'PT2', 'W6151C', 'RBV3', 'BCH4', 'KVA2M', 'CHR32', 'TXC1', 'RFRDMD', 'G13PFM', '188', '6151BV', '192', '80', '226', 'DS230', 'TX1W', 'W676B', '144', 'LCTX2A', 'BT1MVA', '6W55AV', 'REGAST', '191', 'RBV6', 'DELTIM', 'CALI2', 'SCH', 'RBV12', 'LTC2', 'POLERR', '3KW', 'TX2W', '1000B', 'L115PM', '95', 'SBTXW', '141', '94', 'MV-', 'XPOLL', 'RAKV', 'SINSLH', '70', 'W36B', 'RAV', '216', 'PFAVG2', 'RCTAP1', 'SPM', '6164MV', '7B', 'CHR5', '266B', '230PDY', '6W56AV', '69PDY', 'W6151A', 'RC', '118', '1KW', 'PF1', '170', 'LCCDY1', 'T1WTOT', 'W6164C', 'KHWBV', 'G6MV', '6W54C', '4ADD', 'PHR3', 'ACSTRT', 'DY1', 'W537A', '163', 'TOLPOL', 'DSPD', '6W56MV', '96', '105', '91', 'TX2PHT', '002B', 'LCMUL1', 'DSVCHR', 'PMTTS', '6TOT', 'LINTRV', 'W37B', 'HOLD2', '8ADD', 'SEMPMT', 'ADD12', '6W266W', 'PERCOM', 'DOORS', 'PF3AVG', '69PHR', 'CTOTPM', '1RBV', 'W676C', 'TX2PMT', 'C115CD', 'TXBTOT', 'REGAVG', 'ADA1', 'VRTOT', 'TX1B', 'G8PFM', '98', '159', '2KW', 'LCPDY2', 'DSPM', 'T3HST3', 'LCCHR1', 'SE230B', 'GENTOT', 'TOTPHR', '5A', 'C69CM', 'WNDDIR', '4C', 'T5HST3', 'G8MV', 'PMTTST', 'SEMPHR', 'PERCT3'}

In [409]:
print("Unique names in Analog_config:", Analog_config['name'].unique()[:10])  # muestra los primeros 10
print("Unique names in df_device_instance:", df_device_instance['Name  '].unique()[:10])  # muestra los primeros 10

Unique names in Analog_config: ['W543A' 'W543B' 'W543C' 'WNDSPD' 'RC' 'KV1AVG' 'P2' '4TOT' '1TOT' 'P1']
Unique names in df_device_instance: ['MTXTOT' 'DRD' '35C109' 'S8W219' '25YBSC' 'FS' '4LR' '3LR' '35CP21' '2BF']

In [410]:
df_device_instance

      Number  Name
0          1  MTXTOT
1          2     DRD
2          3  35C109
3          4  S8W219
4          5  25YBSC
...      ...     ...
4464    4463   CDYTS
4465    4464   PDYTS
4466    4465   CMTTS
4467    4466   PMTTS
4468    4467  P69CHT

[4467 rows x 2 columns]

In [411]:
Analog_config

             Key    name  pDeviceInstance
0     "03005001"   W543A             3261
1     "03005002"   W543B             3262
2     "03005003"   W543C             3263
3     "03008001"  WNDSPD             3264
4     "04038001"      RC             3265
...          ...     ...              ...
4405  "03003036"  TXTEMP             3991
4406  "03010037"     DCV             3290
4407  "03003037"   TXABT             3992
4408  "03003038"     1KW             3432
4409  "03039042"      2C             3296

[4410 rows x 3 columns]

In [412]:
# HABILITAR ESTO Analog_config.drop('name', axis=1, inplace = True )

In [413]:
Analog_config['record'] = range(1, len(Analog_config) + 1)

In [414]:
Analog_config

             Key    name  pDeviceInstance  record
0     "03005001"   W543A             3261       1
1     "03005002"   W543B             3262       2
2     "03005003"   W543C             3263       3
3     "03008001"  WNDSPD             3264       4
4     "04038001"      RC             3265       5
...          ...     ...              ...     ...
4405  "03003036"  TXTEMP             3991    4406
4406  "03010037"     DCV             3290    4407
4407  "03003037"   TXABT             3992    4408
4408  "03003038"     1KW             3432    4409
4409  "03039042"      2C             3296    4410

[4410 rows x 4 columns]

In [415]:
Analog_config.to_csv('AnalogConfig.csv', index=False)

In [416]:
folder_name = "SCADA_DAT_FILES"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [417]:
analog_config_filename = "analog_config_dat.dat"

In [418]:
analog_config_path = os.path.join(folder_name, analog_config_filename)

In [419]:
with open(analog_config_path, 'w') as f:
    f.write("*\n")
    f.write("\t41\tANALOG_CONFIG\t0\t9\n")
    f.write("*\tKEY\tpDeviceInstance\n")

    for index, row in Analog_config.iterrows():
        f.write("\t{}\t{}\t{}\n".format(row['record'],row['Key'], row['pDeviceInstance']))
    
    f.write("0")

_____________
___________

# UNIT

Source: Analog.csv


Record (0): ORDER Padded with incremental index numbering


Name (0) : Analog['EuText  '] : RG 12/29: Delete repetitions and shift records up to avoid having empty spaces.

In [420]:

analog_file = "Analog.csv"
df_analog = pd.read_csv(analog_file)


df_unit = pd.DataFrame()
df_unit['name'] = df_analog['EuText  '].drop_duplicates(keep='first').reset_index(drop=True)
df_unit = df_unit[df_unit['name'].notna() & (df_unit['name'].str.strip() != '')]


df_unit['record'] = range(1, len(df_unit['name']) + 1)

print(df_unit.head())

      name  record
0   AMPS         1
1    MPH         2
3  WATTS         3
4   VARS         4
5  VOLTS         5

In [421]:
folder_name = "SCADA_DAT_FILES"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [422]:
unit_filename = "unit_dat.dat"

In [423]:
unit_config_path = os.path.join(folder_name, unit_filename)

In [424]:
with open(unit_config_path, 'w') as f:
    f.write("*\n")
    f.write("\t10\tUNIT\t0\n")
    f.write("*\t#\tName\n")

    for index, row in df_unit.iterrows():
        f.write("\t{}\t{}\n".format(row['record'],row['name']))
    
    f.write("0")

__________
____________

# OBJETO ACCUMULATOR : Comentado. No se usará

# ACCUMULATOR

ANALOG ACCUMULATOR - REFERENCE :
Resource : Analog.csv
Type (1) = Analog ['Telem_B '] : If Telem_B = 21, then T_ACCUM=1. If not defined will be set to 3: Manual
Key (3) = 8 characters.  See Key Strategy
Name (4) = Analog : Name + Desc. 
Station (5) = Analog['Name '] . pstation, XXX. Where pstation links to 'Name' in COSERV_STATION. If not defined will be set to dummy station
pAORGroup (10) = Analog['Zones '] =  Will be set to 1 unless defined in mapping document

pUNIT (19) = Analog['EUText ']  = RG 12/29: Pointer to the matching record of the object UNIT

pScale (38) = Analog['Eu_Hi ']. If not defined (Type 1 only) will be set to Scale=1, Offset=0

pALARM_GROUP (42) = Will be set to 1 unless defined in mapping document

In [425]:
comment = """ #Data CSV Name entry
analog_file = "Analog.csv"
df_analog = pd.read_csv(analog_file)

df_accumulator = pd.DataFrame()

df_accumulator['Type'] = df_analog['Telem_B  '].apply(lambda x: 1 if x == '21  ' else 3)

df_accumulator['Name'] = df_analog['Desc  ']

df_accumulator['pAORGroup'] = 1 
"""

In [426]:
comment = """
unit_mapping = df_unit.set_index('name')['record'].to_dict()
df_accumulator['pUNIT'] = df_analog['EuText  '].map(unit_mapping)

print(df_accumulator.head())
df_accumulator['pUNIT'] = df_accumulator['pUNIT'].apply(lambda x: '' if pd.isna(x) else str(int(x)))
df_accumulator['pScale'] = df_analog['EU_Hi  ']
df_accumulator['pALARM_GROUP'] = 1
"""

In [427]:
comment = """
with open('Accumulator.dat', 'w') as f:
    f.write("*\n")
    f.write("\t6\tAccumulator\t1\t4\t10\t19\t38\t42\n")
    f.write("*\tType\tName\tpAORGROUP\tpUNIT\tpScale\tpALARM_GROUP\n")

    for index, row in df_accumulator.iterrows():
        f.write("\t{}\t{}\t{}\t{}\t{}\t{}\n".format(row['Type'],row['Name'],row['pAORGroup'],row['pUNIT'],row['pScale'],row['pALARM_GROUP']))
    
    f.write("0")
    """